.wrapper {
  position: relative;

  button {
    width: 24rem;
    height: 24rem;
    border-radius: 5rem;
    box-shadow: var(--box-shadow-button-inset);
    padding: 3rem;

    &:hover {
      svg * {
        fill: var(--content-nav-hover);
      }
    }

    div {
      width: 100%;
      height: 100%;
      background-color: var(--bg-rgba-default);
      border-radius: 4rem;
      box-shadow: var(--box-shadow-button);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .popup {
    position: absolute;
    z-index: 99;
    transition: opacity var(--transition-time-min) ease;
    padding: 2rem 10rem;
    background-color: rgba($color: #fcfcfc, $alpha: 1);
    background-color: var(--bg-rgba-default);
    backdrop-filter: blur(16rem);
    border-radius: 4rem;
    box-shadow: var(--drop-shadow-button-main);
    box-shadow: var(--drop-shadow-middle-intense);
    width: max-content;

    font-size: 12rem;
    color: var(--content-datail-secondary);

    &::before {
      content: "";
      position: absolute;
    }

    &.left {
      padding-right: 6rem;
      right: calc(100% + 10rem);
      top: 50%;
      transform: translateY(-50%);

      &:before {
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        z-index: 1;
        border-left: 6rem solid #fcfcfc;
        border-bottom: 6rem solid transparent;
        border-top: 6rem solid transparent;
      }
    }

    &.top {
      padding-bottom: 6rem;
      left: 50%;
      bottom: calc(100% + 6rem);
      transform: translateX(-50%);

      &:before {
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        border-top: 6rem solid #fcfcfc;
        border-left: 6rem solid transparent;
        border-right: 6rem solid transparent;
      }
    }

    &.bottom {
      padding-top: 6rem;
      left: 50%;
      top: calc(100% + 6rem);
      transform: translateX(-50%);

      &:before {
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        border-bottom: 6rem solid #fcfcfc;
        border-left: 6rem solid transparent;
        border-right: 6rem solid transparent;
      }
    }

    p {
      color: var(--content-datail-secondary);
      font-size: 10rem;
      line-height: 12rem;
      overflow-wrap: break-word;
    }
  }
}
