.link {
  width: 125rem;
  height: 38rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  background-color: var(--content-nav-hover);
  border-radius: 5rem;
  margin-right: 40rem;
  transition: background-color var(--transition-time-min) ease;

  &:hover {
    background-color: var(--content-main);
  }

  span {
    font-weight: 500;
    color: var(--content-contr-color);
  }

  svg {
    width: 16rem;
    height: 16rem;
  }
}
