.backdrop {
  position: fixed;
  inset: 0;
  z-index: 1000;

  display: flex;
  justify-content: flex-end;
  padding-block: 104rem 70rem;
}

.drawer {
  width: 375rem;
  height: 100%;
  border-radius: 6rem;
  background: var(--bg-rgba-secondary);

  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(16px);

  display: flex;
  flex-direction: column;
}

.header {
  padding: 12rem 18rem 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    width: 38rem;
    height: 38rem;
    border-radius: 50%;
    background: var(--content-light-secondary);
    box-shadow: var(--drop-shadow-middle-intense);
    backdrop-filter: blur(16px);

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: var(--bg-default);
    }

    svg {
      width: 14rem;
      height: auto;
      color: var(--content-main);

      & * {
        fill: var(--content-main);
      }
    }

    &:last-child {
      svg {
        width: 18rem;
        height: auto;
      }
    }
  }

  h5 {
    width: 190rem;
    height: 38rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 27rem;
    background: var(--content-light-secondary);
    box-shadow: var(--drop-shadow-middle-intense);
    backdrop-filter: blur(16px);

    text-align: center;
    font-family: Roboto;
    font-size: 14rem;
    font-weight: 700;
  }
}

.body {
  padding: 12rem 18rem 12rem;
  flex-grow: 1;
  overflow: auto;
}

.noContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120rem;
  color: var(--border-color-decorate);

  svg {
    width: 92rem;
    height: auto;
    margin-bottom: 42rem;
  }

  p {
    font-size: 14rem;
    font-weight: 400;
  }

  p:not(:last-child) {
    font-weight: 600;
    margin-bottom: 20rem;
  }
}
