.inputWrapper {
  display: flex;
  gap: 24rem;
  align-items: center;
  width: 360rem;
  height: 28rem;
  padding: 6rem;

  background-color: var(--bg-rgba-detail);
  box-shadow: var(--box-shadow-button-inset);
  border-radius: 5rem;
  backdrop-filter: blur(16rem);

  border: 1rem solid transparent;
  transition: border-color var(--transition-time-min);

  &.valid {
    border-color: var(--content-success);
  }
}

.label {
  min-width: 76rem;
  font-size: 14rem;
  line-height: 16.94rem;
  color: var(--content-datail-secondary);
  text-transform: capitalize;
  position: relative;
  overflow: visible;

  &::after {
    content: "";
    position: absolute;
    width: 1rem;
    right: -11.5rem;
    height: 20rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--content-datail-secondary);
  }

  input {
    flex-grow: 1;

    font-size: 14rem;
    line-height: 16.94rem;
    color: var(--content-main);
  }

  input[name="verificarion code"] {
    letter-spacing: 0.5em;
  }
}
