.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8rem 8rem 8rem 36rem;
  gap: 7rem;
  width: 100%;

  & svg {
    width: 14rem;
    height: 14rem;
    fill: #fff;
  }

  & span {
    font-size: 14rem;
    line-height: 17rem;
    color: #fff;
  }
}

