.testWrapper {
  height: 100%;
}

.bodyWrapper {
  display: flex;
  gap: 16rem;
  position: relative;
  height: calc(100% - 60rem);
  overflow-y: auto;
  padding-bottom: 40rem;
}

.contentWrapper {
  flex-grow: 1;
  height: fit-content;
  max-width: calc(100% - 16rem - 270rem);
}

.progressWrapper {
  width: 270rem;
  display: flex;
  position: sticky;
  top: 0;
}

.testContent {
  label {
    width: fit-content;
    cursor: pointer
  }

  input[type="radio"] {
    width: 12rem;
    height: 12rem;
  }

  input[type="checkbox"] {
    width: 12rem;
    height: 12rem;
  }
}

.header {
  border-radius: 5rem;
  background-color: var(--bg-rgba-default);
  box-shadow: var(--drop-shadow-button-main);
  padding: 40rem 24rem 12rem;
  margin-bottom: 16rem;
}

.titleWrapper {
  margin-bottom: 24rem;
}

.testName {
  text-align: center;
  padding: 2rem 8rem;
  border: 1rem solid transparent;
  margin-bottom: 12rem;

  & > span {
    white-space: normal;
  }
}

.prefix {
  font-size: 18rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--content-secondary);
}

.title {
  font-size: 18rem;
}

.title,
.titleInput,
.description {
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: var(--content-dark);
}

.description {
  font-size: 14rem;
  margin-bottom: 0;
}

.titleInput {
  padding: 2rem 8rem;
  margin-bottom: 12rem;
}

.questionWrapper {
  padding-inline: 24rem 32rem;
  margin-bottom: 16rem;
  border-radius: 5rem;
  box-shadow: var(--drop-shadow-button-main);
  background-color: var(--bg-rgba-default);

  .questionHeader {
    display: flex;
    padding-block: 16rem;
    gap: 16rem;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1rem solid var(--content-datail-secondary);

    & span {
      color: var(--content-datail-secondary);
      font-family: Inter, sans-serif;
      font-size: 16rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    & .score {
      font-size: 14rem;
      flex-shrink: 0;
      width: fit-content;
    }
  }
}

.bottomNavBtnsWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40rem 90rem;
  border-radius: 5rem;
  background-color: var(--bg-rgba-default);
  box-shadow: var(--drop-shadow-button-main);
}
