.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50rem 24rem 0 24rem;
  margin-bottom: 16rem;
  position: relative;
}

.avatarWrapper {
  position: relative;

  & > div:first-child {
    margin: 0 auto;
  }
}

.editAvatarBtn {
  width: 26rem;
  height: 26rem;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  right: 9rem;

  svg {
    width: 100%;
    height: auto;
  }
}

.usernameContainer {
  margin-top: 16rem;

  p {
    text-align: center;
    font-size: 14rem;
    font-weight: 400;
    color: var(--content-datail-secondary);
  }

  .username {
    margin-bottom: 8rem;
    font-size: 16rem;
    font-weight: 600;
    color: var(--content-main);
  }
}

.usernameContainer,
.userDataContainer {
  position: relative;
  width: 100%;
  padding-bottom: 18rem;

  &:after {
    content: "";
    width: 100%;
    height: 2rem;
    border-radius: 10rem;
    background-color: var(--border-color-main);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.profileTitle {
  margin-block: 16rem;
  text-align: center;
  font-size: 16rem;
  font-weight: 600;
  color: var(--content-main);
}

.detailsHeader {
  height: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 58rem;

  span {
    color: var(--content-datail-secondary);
    font-size: 14rem;
    font-weight: 400;
  }
}

.infoDataContainer {
  p {
    color: var(--content-datail-secondary);
    font-size: 14rem;
    font-weight: 400;
    margin-bottom: 12rem;
    text-align: center;

    span {
      margin-inline-start: 6rem;
      color: var(--content-main);
      font-weight: 500;
    }
  }

  .detailsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16rem;
    padding-top: 34rem;
    position: relative;

    &:before {
      content: "";
      width: 100%;
      height: 2rem;
      border-radius: 10rem;
      background-color: var(--border-color-main);
      position: absolute;
      top: 16rem;
      left: 0;
    }

    p {
      text-align: start;
    }
  }
}

.userInfoForm {
  flex-grow: 1;
  align-self: stretch;

  .formGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20rem;
    grid-row-gap: 12rem;
    margin-bottom: 16rem;
  }

  label {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;

    span {
      font-size: 14rem;
      font-weight: 400;
      color: var(--content-datail-secondary);
      padding-inline: 8rem;
    }

    input {
      font-weight: 500;
      font-size: 14rem;
      color: var(--content-main);

      display: block;
      padding: 4rem 8rem;
      height: 28rem;
      width: 100%;

      background-color: var(--bg-button-default);
      box-shadow: var(--box-shadow-button-inset);
      border-radius: 5rem;
    }

    input:disabled {
      background-color: transparent;
      box-shadow: none;
    }

    .error {
      position: absolute;
      top: 100%;
      right: 0;
      font-size: 10rem;
      color: var(--content-nav-hover);
    }
  }

  .passwordInputWrapper {
    position: relative;

    .toggleShowBtn {
      position: absolute;
      right: 6rem;
      top: 50%;
      transform: translateY(-50%);

      width: 14rem;
      height: 14rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--content-datail-secondary);

      &:hover {
        color: var(--content-main);
      }

      svg {
        width: 14rem;
        height: 14rem;
      }
    }

    input {
      width: 100%;
      padding-right: 26rem;

      &::placeholder {
        transform: translateY(4rem);
        font-weight: 500;
        font-size: 16rem;
        color: var(--content-main);
      }
    }
  }

  .blockLabel {
    grid-column: 1 / span 2;
  }

  .phoneContainer {
    input:disabled + div {
      div {
        border: none;
      }
    }

    .phoneInput {
      font-weight: 500;
      font-size: 14rem;
      color: var(--content-main);

      display: block;
      padding-left: 44px;
      height: 28rem;
      width: 100%;

      background-color: var(--bg-button-default);
      box-shadow: var(--box-shadow-button-inset);
      border-radius: 5rem;
      border: none;

      &:disabled {
        background-color: transparent;
        box-shadow: none;
        padding-left: 44px;
      }
    }

    .phoneBtn {
      border: none;
      border-radius: 5rem 0 0 5rem;
      background: none;
      margin: 4rem;
      margin-right: 0;
    }

    .phoneDropDown {
      border-radius: 5rem;
    }
  }

  .btnsWrapper {
    display: flex;
    justify-content: center;
    gap: 24rem;
    align-items: center;

    button {
      width: 96rem;
      height: 28rem;
      border-radius: 5rem;
      border: 1rem solid var(--content-datail-secondary);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12rem;

      color: var(--content-datail-secondary);

      transition: all var(--transition-time-min) ease;

      &:hover {
        border-color: var(--content-main);
        color: var(--content-main);
      }

      span {
        font-family: Roboto;
        font-size: 12rem;
        font-weight: 600;
      }

      svg {
        width: 14rem;
        height: 14rem;
      }
    }
  }
}

.userGraphStatContainer {
  width: 100%;
  position: relative;
  padding-bottom: 52rem;

  .graphContainer {
    display: flex;
    justify-content: space-between;
    gap: 40rem;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 7rem;
      left: 50%;
      width: 2rem;
      height: calc(100% - 7rem);
      border-radius: 10rem;
      background-color: var(--border-color-main);
    }
  }

  .infoBtnWrapper {
    position: absolute;
    bottom: 20rem;
    right: 0;
  }

  .progressTitle {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;

    .name {
      font-size: 14rem;
      font-weight: 500;
      line-height: 17rem;
      color: var(--content-datail-secondary);
    }

    .value {
      font-size: 24rem;
      font-weight: 500;
      line-height: 29rem;
      color: var(--content-main);

      span {
        font-size: 16rem;
      }
    }
  }
}

.editBtnWrapper {
  position: absolute;
  top: 16rem;
  right: 28rem;
}
