.wrapper {
  display: flex;
  padding: 28rem 28rem 26rem;
  background-color: var(--bg-rgba-default);
  border-radius: 5rem;
  box-shadow: var(--drop-shadow-button-main);
  backdrop-filter: blur(16rem);
  margin-bottom: 16rem;
  position: relative;
}

.avatarWrapper {
  margin-right: 16rem;
}

.editBtn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 24rem;
  padding-inline: 2rem;

  span {
    display: block;
    width: 95rem;
    text-align: center;
    font-size: 14rem;
    font-weight: 400;
    line-height: 14rem;
    overflow: visible;
    color: var(--content-datail-secondary);
  }

  svg {
    width: 14rem;
    height: 14rem;

    * {
      fill: var(--content-datail-secondary);
    }
  }

  &:hover {
    span {
      color: var(--content-main);
    }

    svg * {
      fill: var(--content-main);
    }
  }
}

.divider {
  height: 158rem;
  width: 2rem;
  background-color: var(--content-datail-secondary);
  border-radius: 2rem;
  margin-right: 10rem;
}

.dataWrapper {
  flex-grow: 1;
  align-self: stretch;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20rem;
  grid-row-gap: 8rem;

  label {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    span {
      font-size: 14rem;
      font-weight: 400;
      line-height: 17rem;
      color: var(--content-datail-secondary);
      padding-inline: 6rem;
    }

    input {
      font-weight: 600;
      font-size: 16rem;
      line-height: 20rem;
      color: var(--content-main);

      display: block;
      padding: 4rem 6rem;
      height: 28rem;
      width: 100%;

      background-color: var(--bg-button-default);
      box-shadow: var(--box-shadow-button-inset);
      border-radius: 5rem;
    }

    input:disabled {
      background-color: transparent;
      box-shadow: none;
    }
  }

  .passwordInputWrapper {
    position: relative;

    .toggleShowBtn {
      position: absolute;
      right: 6rem;
      top: 50%;
      transform: translateY(-50%);

      width: 14rem;
      height: 14rem;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 14rem;
        height: 14rem;
      }
    }

    input {
      width: 100%;
      padding-right: 26rem;

      &::placeholder {
        transform: translateY(4rem);
        font-weight: 600;
        font-size: 16rem;
        // line-height: 20rem;
        color: var(--content-main);
      }
    }
  }

  .emailWrapper {
    grid-column: 1 / span 2;
  }

  .phoneContainer {
    input:disabled + div {
      div {
        border: none;
      }
    }

    .phoneInput {
      font-weight: 600;
      font-size: 16rem;
      line-height: 20rem;
      color: var(--content-main);

      display: block;
      padding-left: 44px;
      height: 28rem;
      width: 100%;

      background-color: var(--bg-button-default);
      box-shadow: var(--box-shadow-button-inset);
      border-radius: 5rem;
      border: none;

      &:disabled {
        background-color: transparent;
        box-shadow: none;
        padding-left: 44px;
      }
    }

    .phoneBtn {
      border: none;
      border-radius: 5rem 0 0 5rem;
      background: none;
      margin: 4rem;
      margin-right: 0;
    }

    .phoneDropDown {
      border-radius: 5rem;
    }
  }

  .btnsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    button {
      width: 96rem;
      height: 28rem;
      border-radius: 5rem;
      border: 1rem solid var(--content-datail-secondary);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12rem;
      transition: border-color var(--transition-time-min) ease;

      &:hover {
        border-color: var(--content-main);

        span {
          color: var(--content-main);
        }

        svg * {
          fill: var(--content-main);
        }
      }

      span {
        font-family: Roboto;
        font-size: 12rem;
        font-weight: 600;
        line-height: 18rem;
        color: var(--content-datail-secondary);
        transition: color var(--transition-time-min) ease;
      }

      svg {
        width: 14rem;
        height: 14rem;

        * {
          fill: var(--content-datail-secondary);
          transition: fill var(--transition-time-min) ease;
        }
      }
    }
  }
}

.editBtnWrapper {
  position: absolute;
  top: 16rem;
  right: 28rem;
}
