.wrapper {
  min-width: 148rem;
  transform: translateX(-100%);
  transition: transform var(--transition-time-max) ease;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    position: relative;

    &:hover::before {
      opacity: 1;
    }

    &::before {
      content: "";
      position: absolute;
      inset: -7rem 0;
      background-color: var(--bg-thumb);
      z-index: -1;
      opacity: 0;
      transition: opacity var(--transition-time-min) ease;
    }
  }
}

.fullName {
  margin-top: 10rem;
  color: var(--content-main);
  font-size: 14rem;
  line-height: 1;
  font-style: normal;
  font-weight: 500;
  white-space: normal;
  text-align: center;
  max-width: 100%;
}

.studyInfo {
  display: flex;
  color: var(--content-light);
  font-size: 10rem;
  font-weight: 500;
  margin-top: 8rem;
  width: 100%;
  padding-inline: 12rem;

  span {
    flex-basis: 50%;

    &:first-child {
      text-align: right;
      padding-right: 4rem;
      border-right: 0.5px solid var(--content-light);
    }
    &:last-child {
      text-align: left;
      padding-left: 4rem;
      border-left: 0.5px solid var(--content-light);
    }
  }
}
