.pageWrapper {
  padding-inline: 56rem;
}

.InfoWrapper {
  display: flex;
  gap: 40rem;
  margin-bottom: 80rem;

  .categoryInfoWrapper {
    flex-basis: calc(65% - 20rem);

    & > div:not(:last-child) {
      margin-bottom: 16rem;
    }

    div.title {
      color: var(--content-secondary);
      margin-bottom: 32rem;

      h1 {
        font-size: 28rem;
        font-weight: 400;
      }
      span {
        display: block;
        font-size: 32rem;
        color: var(--content-main);
        font-weight: 600;
        letter-spacing: 6rem;
        text-transform: uppercase;
      }
    }

    .about,
    .designedFor {
      h3 {
        font-size: 20rem;
        text-transform: uppercase;
        margin-bottom: 8rem;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 4rem;
      }

      li,
      p {
        color: var(--content-main);
        font-size: 16rem;
        text-align: justify;
      }

      li {
        padding-left: 16rem;
        position: relative;

        &:not(:last-child) {
          margin-bottom: 8rem;
        }
      }

      li::before {
        content: "";
        width: 8rem;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--content-main);
        position: absolute;
        left: 0;
        top: 6rem;
      }
    }
  }

  .certificateInfoWrapper {
    flex-basis: calc(35% - 20rem);
    ul {
      padding: 16rem;
      background-color: var(--bg-default);
      border: 1rem solid var(--border-color-secondary);
      border-top: none;
    }

    li:not(:last-child) {
      margin-bottom: 16rem;
    }

    li {
      span {
        color: var(--content-secondary);
        font-size: 14rem;
        font-style: normal;
        line-height: normal;
      }
    }
  }
}

.coursesWrapper {
    h2 {
        margin-bottom: 36rem;
        text-align: center;
    }
}
