.link {
  color: var(--content-datail-secondary);
  font-family: Roboto;
  font-size: 14rem;
  line-height: 16.94rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 24rem;

  a {
    color: var(--content-main);
    .linkText {
      font-weight: 600;
      transition: color var(--transition-time-min) ease;
    }

    &:hover,
    &:focus {
      color: var(--content-nav-hover);

      svg {
        width: 20rem;
      }
    }
  }
}
