.pageContainer {
  display: flex;
//   align-items: center;
  flex-direction: column;
  gap: 32rem;
  height: 100%;
  padding: 40rem 70rem;
}

.userCard {
  padding: 40rem 60rem;
  background-color: var(--bg-rgba-default);
  border-radius: 5rem;
  box-shadow: var(--drop-shadow-button-main-hover);
  font-size: 14rem;

  & > div:first-child {
    transform: none;
    margin-bottom: 20rem;
  }

  p {
    margin-top: 12rem;
    text-align: center;
  }
}
