.mainWrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: var(--bg-body);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;

  .main {
    padding-top: 84rem;
    padding-left: var(--sidebar-width-narrowed);
    // transition: padding-left var(--transition-time-max) ease;
  }

  .contentWrapper:has([data-expanded-fixed="true"]),
  .contentWrapper:has([data-expanded-fixed="false"]) {
    main {
      transition: padding-left var(--transition-time-max) ease;
    }
  }

  .contentWrapper:has([data-expanded-fixed="true"]) {
    .main {
      padding-left: calc(
        var(--sidebar-width-expanded) + var(--sidebar-width-narrowed)
      );
    }
  }
}

.isFullscreenLayout {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;

  .main {
    // background: var(--bg-auth);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;

    display: flex;
  }

  .contentWrapper:has([data-expanded-fixed="true"]) {
    .pageContent {
      padding-left: calc(
        var(--sidebar-width-expanded) + var(--sidebar-width-narrowed)
      );
    }
  }
}

.contentWrapper {
  display: flex;
  width: 100%;
}

.main {
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.pageContent {
  height: 100%;
  width: 50%;
  background-color: var(--bg-rgba-secondary);
  backdrop-filter: blur(16rem);
  padding-left: var(--sidebar-width-narrowed);
  transition: padding-left var(--transition-time-max) ease;
  overflow-y: auto;
}
