.mainWrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: var(--bg-body);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(40rem);
}

.contentWrapper {
  display: flex;
  width: 100%;
}

.main {
  padding-top: 84rem;
  flex-grow: 1;
  height: 100%;
}
