.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  // width: 800rem;
  padding: 24rem 32rem 32rem;
  box-shadow: var(--drop-shadow-button-main);
  background-color: var(--bg-rgba-default);
  border-radius: 5rem;

  h2 {
    color: var(--content-main);
    font-size: 28rem;
    font-weight: 600;
    line-height: 33.89rem;
    line-height: normal;
    margin-bottom: 12rem;
  }
}

.row {
  margin-bottom: 16rem;
}

.lastRow {
  margin-bottom: 24rem;
}

.btnsWrapper {
  display: flex;
  flex-direction: column;
  gap: 12rem;
  align-items: center;
  margin-bottom: 20rem;

  & > span {
    color: var(--content-datail-secondary);
    font-size: 14rem;
    text-align: center;
  }
}

.submitBtn {
  width: 100%;
  height: 38rem;
  border-radius: 5rem;
  background-color: var(--content-main);
  border: 1rem solid transparent;
  transition: background-color var(--transition-time-default) ease;

  span {
    color: var(--content-contr-color);
    text-align: center;
    font-weight: 600;
    font-size: 16rem;
  }

  &:hover,
  &:focus {
    background-color: var(--content-nav-hover);
    box-shadow: var(--drop-shadow-short);
  }
}

.googleBtn {
  width: 100%;
  height: 38rem;
  border-radius: 5rem;
  background-color: var(--bg-default);
  border: 1rem solid var(--content-datail-secondary);
  transition: background-color var(--transition-time-default) ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12rem;

  svg {
    width: 24rem;
    height: 24rem;
  }

  span {
    color: var(--content-main);
    font-weight: 600;
    font-size: 14rem;
    transition: color var(--transition-time-default);
  }

  &:hover,
  &:focus {
    background-color: var(--content-datail-secondary);
    box-shadow: var(--drop-shadow-short);

    span {
      color: var(--content-contr-color);
    }
  }
}
