.certificatesList {
  display: flex;
  flex-direction: column;
  height: 100%;
  scroll-behavior: smooth;
  gap: 2rem;

  li .course {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: calc(100% + 0.5rem);
      left: 0;
      width: 100%;
      height: 1rem;
      background-color: var(--border-color-main);
      border-radius: 10rem;
    }
  }

  li:last-child .course::after {
    content: none;
  }

  &:has(.itemHeader) {
    gap: 10rem;
  }

  &:has(.itemContent) {
    .certificateItem:not(.course) .btnsWrapper {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.itemContainer {
  border-radius: 5rem;
  background: var(--bg-rgba-default);

  box-shadow: var(--drop-shadow-middle-intense);
  backdrop-filter: blur(16px);
}

.certificateItem {
  height: 44rem;
  padding-inline-start: 18rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 4px;

  transition: all var(--transition-time-min) ease;

  &.course {
    padding: 0;
    margin-inline: 18rem;
    padding-inline-end: 10rem;

    &:hover {
      border-radius: 4rem;
      background: var(--bg-rgba-default);
      box-shadow: var(--drop-shadow-middle-intense);
      backdrop-filter: blur(16rem);

      .btnsWrapper {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &.course .certificateLink h4 {
    padding-inline-start: 16rem;
    font-weight: 400;
  }

  &.course {
    height: 40rem;
  }
}

.itemContent {
  padding-block: 6rem 8rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 4rem;
    left: 18rem;
    width: calc(100% - 36rem);
    height: 2rem;
    border-radius: 10rem;
    background-color: var(--border-color-main);
  }
}

.linkWrapper {
  flex-grow: 1;
  display: flex;
  gap: 20rem;
  align-items: center;
}

.certificateLink {
  display: inline-block;
  cursor: pointer;

  &:hover {
    h4 {
      text-decoration: underline;
    }
  }

  h4 {
    display: block;
    width: 360rem;
    position: relative;

    font-size: 14rem;
    line-height: 18rem;
    font-weight: 600;
    color: var(--content-main);

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

div[data-expanded-fixed="true"] + main .certificateItem h4 {
  width: 300rem;
}

.btnsWrapper {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 10rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-time-min) ease;


  & > button,
  & > a {
    color: var(--content-datail-secondary);
    transition: color var(--transition-time-min) ease;
    flex-shrink: 0;

    &:hover {
      color: var(--content-main);
    }
  }
}

.tagsWrapper {
  display: flex;
  align-items: center;

  .typeTag {
    width: 74rem;
    text-align: center;
  }

  & > span,
  .hoverTagContainer > span {
    line-height: 16rem;
    font-size: 12rem;
    padding: 2rem 8rem;
    text-transform: capitalize;
  }

  & > span:not(:last-child) {
    margin-right: 16rem;
  }

  .hoverTagContainer {
    position: relative;
    display: inline-block;
    height: 22rem;
    cursor: pointer;

    & > span:not(:last-child) {
      margin-right: 16rem;
    }

    & > * {
      transition: opacity var(--transition-time-min) ease;
    }

    &:hover {
      .hoverParent {
        opacity: 0;
      }
      .hoverChild {
        opacity: 1;
      }
    }

    .hoverParent {
      opacity: 1;
    }
    .hoverChild {
      position: absolute;
      opacity: 0;
      inset: 0;
    }
  }

  .buyBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--content-light-secondary);
    gap: 8rem;

    svg {
      width: 16rem;
      height: auto;
    }

    span {
      font-size: 12rem;
      font-weight: 500;
    }
  }
}
