.privacyPolicyPage {
  padding: 16rem 20rem 30rem 16rem;
  height: 100%;
}

.content {
  padding: 16rem 56rem 16rem 16rem;
  height: 100%;
  overflow-y: auto;
  background-color: var(--bg-rgba-default);
  box-shadow: var(--drop-shadow-middle-intense);
  backdrop-filter: blur(16rem);
  border-radius: 5rem;

  h1,
  h2 {
    padding-left: 10rem;
    font-size: 24rem;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 3rem;
      background-color: var(--content-nav-hover);
      border-radius: 30rem;
    }
  }

  h1 {
    margin-block: 12rem 24rem;
  }

  h2 {
    font-size: 18rem;
    font-weight: 600;
    margin-block: 24rem 8rem;
  }

  p {
    font-size: 16rem;
    line-height: 22rem;
    text-align: justify;
  }
}
