.completeBtn {
  width: 164rem;
  height: 38rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  background-color: var(--bg-button-success);
  border-radius: 5rem;
  transition: background-color var(--transition-time-min) ease;

  span {
    color: var(--content-contr-color);
    font-size: 16rem;
  }

  svg {
    width: 18rem;
    height: 18rem;
  }

  &:hover {
    background-color: var(--content-datail-secondary);
  }
}

.spinnerWrapper {
  width: 164rem;
  display: flex;
  justify-content: center;
  align-items: center;
  & > span {
    overflow: visible;
  }
}
