.richTextEditor {
  background-color: var(--bg-rgba-primary);
  position: relative;
  border-radius: 5rem;

  & span {
    overflow: visible;
  }

  &:focus-within .ql-toolbar {
    opacity: 1;
    pointer-events: all;
  }

  & > .ql-toolbar {
    width: max-content;
    padding: 4rem 8rem;
    position: absolute;
    bottom: 100%;
    box-shadow: var(--drop-shadow-button-main);
    border-radius: 2.5rem;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    transition: opacity var(--transition-time-min) ease;

    text-indent: 0;

    svg {
      width: 16px;
      height: auto;
    }

    .ql-snow .ql-icon-picker .ql-picker-label {
      padding: 3px 5px;
    }

    .ql-editor.ql-blank::before {
      text-indent: 0;
    }

    .ql-undo::before,
    .ql-redo::before {
      content: "";
      display: inline-block;
      width: 18px;
      height: 18px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .ql-undo::before {
      background-image: url("/src/images/icons/undo.svg");
    }

    .ql-redo::before {
      background-image: url("/src/images/icons/redo.svg");
    }

    .ql-undo,
    .ql-redo {
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }

  .ql-toolbar.ql-snow .ql-formats {
    margin-right: 8rem;
  }

  .ql-snow .ql-picker.ql-header {
    width: 76px;
  }

  &.bottomToolbar > .ql-toolbar {
    bottom: initial;
    top: 100%;
  }

  &.bottomToolbar .ql-editor {
    line-height: inherit;
  }

  & > .ql-toolbar.ql-snow + .ql-container.ql-snow {
    border: 1rem solid var(--content-datail-secondary);
    border-radius: 5rem;
  }

  & .ql-editor {
    padding: 4rem 8rem;
  }
}

.ql-snow .ql-picker {
  border-radius: 5rem;
  color: var(--content-datail-secondary);

  & .ql-picker-label,
  & .ql-picker-options {
    border-radius: inherit;
    color: inherit;
  }
}

.ql-snow.ql-toolbar .ql-picker-item:hover {
  color: var(--content-main);
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label,
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  border-color: var(--content-datail-secondary);
}

.ql-snow .ql-picker.ql-header .ql-picker-label::before,
.ql-snow .ql-picker.ql-expanded .ql-picker-label,
.ql-editor.ql-blank::before {
  color: var(--content-datail-secondary);
  font-style: normal;
  left: initial;
  right: initial;
}

.ql-editor.ql-blank::before {
  text-indent: 0;
}

.ql-snow .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke {
  stroke: var(--content-datail-secondary);
}
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: var(--content-datail-secondary);
}
.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:hover,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke {
  stroke: var(--content-main);
}
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill {
  fill: var(--content-main);
  stroke-width: 0;
}
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill {
  stroke-width: 2px;
}

.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill {
  fill: var(--content-main);
  stroke-width: 2px;
}

.ql-container {
  font-family: inherit;
  font-size: inherit;
}

.ql-snow .ql-editor blockquote {
  border-left: 4rem solid var(--content-datail-secondary);
}

.ql-snow.ql-toolbar .ql-vertical-align-top,
.ql-snow.ql-toolbar .ql-vertical-align-middle,
.ql-snow.ql-toolbar .ql-vertical-align-bottom {
  background-size: 16px;
  background-position: center center;
  background-repeat: no-repeat;

  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.ql-snow.ql-toolbar .ql-vertical-align-top,
.ql-snow.ql-toolbar .ql-vertical-align-bottom {
  background-image: url("../../../images/icons/editTextIcons/verticalAlignTop.svg");
}

.ql-snow.ql-toolbar .ql-vertical-align-middle {
  background-image: url("../../../images/icons/editTextIcons/verticalAlignMiddle.svg");
}

.ql-snow.ql-toolbar .ql-vertical-align-bottom {
  rotate: 180deg;
}
