.inputWrapper {
  flex: 1;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    background-color: var(--border-color-decorate);
    bottom: 0;
    transition: width 0.3s ease;
  }

  &:has(input:focus)::before {
    width: 90%;
  }

  &:has(input:focus) .label,
  &:has(input:not([value=""])) .label {
    transform: translateY(-150%);
    font-size: 20rem;
    color: var(--content-dark);
  }

  &:has(input:focus) .inputIcon {
    opacity: 1;
  }

  &:has(input:not([value=""])) .inputIcon {
    opacity: 1;
    color: var(--bg-button-failture);
  }

  &.valid:has(input:not([value=""])) .inputIcon {
    opacity: 1;
    color: var(--bg-button-success);
  }

  span {
    position: absolute;
  }

  .label {
    font-family: Roboto;
    font-size: 22rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
    color: var(--content-dark);
    color: var(--border-color-decorate);

    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.2s ease, font-size 0.2s ease;
  }

  .inputIcon,
  .showBtn {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: var(--content-dark);
    opacity: 0.5;
    transition: opacity 0.2s ease, color 0.2s ease;

    &:hover {
      opacity: 1;
    }

    & svg {
      width: 24rem;
      height: 24rem;
    }
  }

  .showBtn {
    position: absolute;
    width: 24rem;
    aspect-ratio: 1;
    right: 32rem;

    & span {
      position: static;
    }
  }

  input {
    width: 100%;
    height: 40rem;
    padding-top: 16rem;
    padding-left: 8rem;
    padding-right: 60rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--content-main);
    font-size: 24rem;
    font-weight: 400;
  }
}
