.cartBtn {
  min-width: 126rem;
  height: 38rem;
  background-color: var(--bg-button-disabled);
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  gap: 8rem;
  align-items: center;
  padding-inline: 16rem;

  span {
    font-size: 16rem;
    font-weight: 500;
    line-height: normal;
    color: var(--content-dark-secondary);
  }

  .icon {
    width: 24rem;
    height: 24rem;
    * {
      fill: var(--content-dark-secondary);
    }
  }
}
