.wrapper {
  padding-top: 16rem;
  display: flex;
  gap: 16rem;
  height: 100%;
}

.instructionsList {
  flex-grow: 1;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.instructionItem {
  width: 100%;
  height: 38rem;
  display: flex;
  align-items: center;
  gap: 4rem;

  & > .editBtn,
  & > .deleteBtn {
    width: 38rem;
    height: 38rem;
    border-radius: 5rem;
    background: var(--bg-rgba-default);
    box-shadow: var(--box-shadow-button-inset);
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: opacity var(--transition-time-min) ease;

    &:hover {
      opacity: 0.7;
    }
  }

  .editBtn path {
    fill: var(--content-datail-secondary);
  }
  .deleteBtn path {
    fill: var(--content-nav-hover);
  }

  .navLink {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-inline: 12rem 14rem;
    border-radius: 5rem;
    box-shadow: var(--drop-shadow-button-main);
    background-color: var(--bg-rgba-default);

    .chevronIcon {
      width: 10.5rem;
      height: 6rem;
      transform: rotate(-90deg);
      transition: transform var(--transition-time-min) ease;
    }

    &.navLink--active {
      .chevronIcon {
        width: 10.5rem;
        height: 6rem;
        transform: rotate(90deg);
      }
    }
  }

  .leftWrapper {
    display: flex;
    align-items: center;
    gap: 12rem;

    svg {
      width: 14rem;
      height: 14rem;
    }

    h2 {
      font-size: 14rem;
      font-weight: 700;
    }
  }

  .rightWrapper {
    display: flex;
    align-items: center;
    gap: 32rem;

    .dateWrapper {
      display: flex;
      align-items: center;
      gap: 6rem;

      svg {
        width: 14rem;
        height: 14rem;
      }

      .date {
        font-size: 12rem;
        font-weight: 500;
        color: var(--content-datail-secondary);
      }
    }
  }
}

.instructionContentWrapper {
  width: 586rem;
  height: 100%;
  background-color: var(--bg-rgba-default);
  box-shadow: var(--drop-shadow-button-main);
  border-radius: 5rem;
  overflow-y: auto;

  .fallback {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 62rem;
    align-items: center;
    justify-content: center;

    svg {
      width: 212rem;
      height: 212rem;
    }

    span {
      font-family: Roboto;
      font-size: 72rem;
      font-weight: 900;
      opacity: 0.03;
    }
  }
}

.openAddModalBtn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;

  border-radius: 5rem;
  background: var(--bg-rgba-primary);
  opacity: 1;
  box-shadow: var(--drop-shadow-button-main-hover);

  font-size: 16rem;
  color: var(--content-datail-secondary);

  transition: opacity color var(--transition-time-min) ease;

  &:hover {
    opacity: 0.8;
    color: var(--content-main);
  }

  svg {
    width: 1.2em;
    height: auto;
  }

  path {
    fill: currentColor;
    fill-opacity: 1;
  }
}

.modalWrapper {
}

.instructionForm {
  height: 100%;
  overflow: auto;
  padding-inline: 12rem;
  display: flex;
  flex-direction: column;

  .contentWrapper {
    flex-grow: 1;
    padding-inline: 8rem;
    display: flex;
    flex-direction: column;
    gap: 16rem;
    margin-bottom: 32rem;
  }

  .inputWrapper {
    border-radius: 5rem;
    border: 1rem solid var(--content-datail-secondary);
    padding: 4rem 8rem;
    position: relative;

    &:has(.error) {
      border-color: var(--content-nav-hover);
    }

    &:has(.name) {
      margin-bottom: 32rem;

      &::after {
        content: "";
        position: absolute;
        bottom: -18rem;
        left: 0;
        width: 100%;
        height: 2rem;
        background-color: var(--content-datail-secondary);
      }
    }

    input {
      width: 100%;
      font-size: 18rem;
      color: var(--content-main);
      line-height: 1.42;

      &::placeholder {
        color: var(--content-datail-secondary);
      }

      &.name {
        font-size: 22rem;
        text-align: center;
      }
    }
  }

  .error {
    position: absolute;
    top: 100%;
    right: 0;
    color: var(--content-nav-hover);
    font-size: 12rem;
  }

  .uploadedFiles {
    padding-block: 16rem;
    border-top: 2rem solid var(--content-datail-secondary);
    display: flex;
    flex-direction: column;
    gap: 8rem;

    li {
      display: flex;
      align-items: center;
      gap: 12rem;

      .deleteBtn {
        color: var(--content-nav-hover);
        svg {
          width: 12rem;
          height: auto;
        }
      }
    }
  }

  .uploaderWrapper {
    height: 200rem;

    & > div[role="presentation"] {
      inset: 0;
    }
  }

  button[type="submit"] {
    margin-inline: 60rem;
    height: 32rem;
    flex-shrink: 0;
    border-radius: 5rem;

    background-color: var(--content-main);
    color: var(--content-light-secondary);
    font-size: 16rem;

    transition: opacity var(--transition-time-min) ease;

    &:hover {
      opacity: 0.7;
      box-shadow: var(--drop-shadow-button-main-hover);
    }
  }
}
