.wrapper {
  border-radius: 5rem;
  box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.16) inset;

  display: flex;
  gap: 6rem;
  padding: 3rem;
  height: fit-content;
  position: relative;

  button {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 4rem;
    box-shadow: none;
    position: relative;
    z-index: 1;

    &.active {
      box-shadow: 0px 0px 2.2rem 0px rgba(0, 0, 0, 0.16);
      svg {
        width: 16rem;
        height: 16rem;
        * {
          stroke: var(--content-contr-color);
        }
        & > * {
          opacity: 1;
        }
      }
    }

    svg {
      width: 16rem;
      height: 16rem;

      * {
        stroke: var(--content-dark);
        fill: transparent;
        transition: stroke var(--transition-time-min) ease;
      }

      & > * {
        opacity: 0.5;
        transition: opacity var(--transition-time-min) ease;
      }
    }
  }
}

.indicator {
  position: absolute;
  left: 0;
  top: 3rem;
  background-color: var(--content-nav-hover);
  border-radius: 5rem;
  z-index: 0;
  transition: transform var(--transition-time-min) ease;
}
