.documentContainer {
  width: 100%;
  margin: 0 auto;

  border-radius: 2rem 2rem 0 0;
  box-shadow: 0 0 16rem 0 rgba(0, 0, 0, 0.12);

  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.controlPanel {
  position: absolute;
  inset: 0;
  z-index: 2;
  padding: 0 24rem;
  background: rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 300ms ease-out;
  color: #fff;
  pointer-events: none;

  svg {
    width: 20rem;
    height: auto;

    path {
      fill: #fff;
      stroke: transparent;
    }
  }

  button {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  .controlsCenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32rem;
  }

  .controlPrevBtn,
  .controlNextBtn {
    width: 32rem;
    height: 32rem;
    background-color: rgba(0, 0, 0, 0.22);

    svg {
      width: 22rem;
      height: 22rem;
    }
  }

  .controlPlayBtn {
    width: 48rem;
    height: 48rem;
    background-color: rgba(0, 0, 0, 0.22);

    svg {
      width: 22rem;
      height: 22rem;
    }
  }

  .controlNextBtn {
    svg {
      transform: rotate(180deg);
    }
  }

  .controlsBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pagesInfo {
    color: #fff;
    font-size: 16rem;
    margin-inline-start: 1rem;
  }

  .controllsFullscreenOn {
    background: none;
  }
}

.document {
  width: 100%;
  display: flex;
}

.page {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.5rem;
    height: 100%;
    width: 0.5rem;
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  &.hidden {
    display: none;
  }
}
