.lectureWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bodyWrapper {
  display: flex;
  gap: 16rem;
  position: relative;
  height: calc(100% - 60rem);
  overflow-y: auto;
  padding-bottom: 20rem;
}

.contentWrapper {
  flex-grow: 1;
  height: fit-content;
}

.progressWrapper {
  width: 269rem;
  display: flex;
  position: sticky;
  top: 0;
  flex-shrink: 0;
}

//content

.lectureContent {
  padding: 40rem 24rem 64rem;
  background-color: var(--bg-rgba-default);
  box-shadow: var(-drop-shadow-button-main);
  border-radius: 5rem;

  section {
    margin-bottom: 32rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.titleWrapper {
  margin-bottom: 24rem;
}

.lectureName {
  text-align: center;
  padding: 2rem 8rem;
  border: 1rem solid transparent;
  margin-bottom: 8rem;

  & > span {
    white-space: normal;
  }
}

.prefix {
  font-size: 18rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--content-secondary);
}

.title,
.titleInput {
  font-size: 18rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: var(--content-main);
  margin-bottom: 8rem;
}

.titleInput {
  padding: 2rem 8rem;
}

.sectionPDF {
  .pdfWrapper {
    margin-bottom: 16rem;
  }
}

.sectionAudio {
  & audio {
    display: block;
    width: 80%;
    margin: 0 auto 24rem;
  }
}

.sectionTitle {
  font-size: 16rem;
  font-weight: 500;
  color: var(--content-main);
  margin-bottom: 16rem;
  text-align: center;
}

h4.sectionSubTitle {
  margin-bottom: 8rem;
  font-size: 16rem;
  color: rgba(0, 0, 0, 0.7);
}

.sectionContentWrapper {
  --line-height: 22rem;
  color: var(--content-main);
  text-align: justify;
  // font-family: Inter, sans-serif;
  font-size: 14rem;
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height);
  text-indent: 16rem;

  blockquote {
    border-left: 4px solid var(--content-datail-secondary);
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;
  }

  ul li:not(.ql-direction-rtl) {
    padding-left: 16rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 16rem;
      width: 4rem;
      height: 4rem;
      background-color: var(--content-main);
      border-radius: 50%;
      top: calc(var(--line-height) / 2);
      transform: translateY(-50%);
    }
  }

  ol {
    li {
      list-style: auto;
      padding-left: 16rem;

      &[data-list="bullet"] {
        list-style: none;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 16rem;
          width: 4rem;
          height: 4rem;
          background-color: var(--content-main);
          border-radius: 50%;
          top: calc(var(--line-height) / 2);
          transform: translateY(-50%);
        }
      }
    }
  }

  ol:has(li[data-list="ordered"]) {
    padding-left: 32rem;
    li {
      text-indent: 0;
      padding-left: 0;
    }
  }
}

.modalWrap {
  background: red;
}

.videoWrapper {
  max-width: 100%;
  margin: 0 auto 24rem;

  & video {
    aspect-ratio: 16/9;
  }
}

.sectionVideo > *:last-child,
.sectionFiles > *:last-child {
  margin-bottom: 0;
}

.filesWrapper {
  display: flex;
  gap: 48rem;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto 24rem;
}

.attachedDocumentWrapper {
  display: flex;
  gap: 12rem;
  align-items: center;

  & svg {
    width: 16rem;
    height: 16rem;
  }

  & .documentName {
    font-family: Inter, sans-serif;
    font-size: 15rem;
    font-style: normal;
    font-weight: 500;
    line-height: 133.3%;
    letter-spacing: 0.45rem;
  }

  & .documentSize {
    color: #bdbdbd;
    font-family: Inter, sans-serif;
    font-size: 15rem;
    font-style: normal;
    font-weight: 500;
    line-height: 133.3%;
    letter-spacing: 0.45rem;
  }

  & .downloadLink {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .deleteBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2rem);

    &:hover path {
      fill: #d60000;
    }
  }
}

.linksWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10rem;
  margin-bottom: 16rem;
}

.linkWrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 8rem;

  svg {
    width: 22rem;
    height: 22rem;

    & * {
      stroke: var(--content-main);
    }
  }

  & span {
    font-size: 14rem;
    font-style: italic;
    font-weight: 400;
    color: var(--content-datail-secondary);
    transition: color var(--transition-time-min) ease;
  }

  &:hover span {
    text-decoration-line: underline;
    color: var(--content-main);
  }
}

.imagesWrapper {
  width: 100%;
  margin-bottom: 24rem;
  display: grid;
  gap: 18rem;
}

.grid-1 {
  grid-template-columns: 1fr;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-5 {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
}

.grid-6 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-5 .imageWrapper:last-child {
  grid-column: 1/-1;
  justify-self: center;
  width: calc((100% - 18rem) / 2);
}

.imageWrapper {
  border-radius: 2rem;
  overflow: hidden;

  border-radius: 4rem;
  background: #fff;
  box-shadow: 0 0 3.70673rem 0 rgba(0, 0, 0, 0.12);

  & > div:first-child {
    width: 100%;
    aspect-ratio: 16/9;
  }

  & img {
    display: block;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .descWrapper {
    padding: 8rem 16rem;

    & input,
    & p {
      width: 100%;
      color: #000;
      font-family: Inter, sans-serif;
      font-size: 16rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    & input::placeholder {
      color: #d9d9d9;
    }
  }
}

.bottomNavBtnsWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 64rem;
}
