.courseCard {
  width: 100%;
  position: relative;

  &:hover {
    // .cardBtn {
    //   height: 24rem;
    //   opacity: 1;
    // }

    .coursePoster {
      transform: scale(1.1);
    }
  }

  &.disabled {
    .courseLink {
      opacity: 0.5;
      transition: opacity var(--transition-time-min) ease;

      &:hover {
        background-color: var(--bg-rgba-default);
      }
    }

    &:hover {
      .courseLink {
        opacity: 1;
      }
    }
  }
}

.courseLink {
  display: block;
  height: 100%;
  padding: 8rem;
  border-radius: 5rem;
  background-color: var(--bg-rgba-default);
  box-shadow: var(--drop-shadow-button-main);
  backdrop-filter: blur(16rem);

  // position: relative;
  // z-index: 2;

  transition: background-color var(--transition-time-min) ease;

  &:hover {
    background-color: var(--bg-rgba-primary);
    box-shadow: var(--drop-shadow-button-main-hover);
  }
}

.posterWrapper {
  overflow: hidden;
  position: relative;
  aspect-ratio: 16/9;
  border-radius: 5rem;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);

  &::before {
    content: "";
    display: block;
    border-radius: 5rem;
    position: absolute;
    inset: 0;
    background-color: var(--bg-rgba-default);
    backdrop-filter: blur(26rem);
  }
}

.imageWrapper {
  position: absolute;
  inset: 0;
  border: 4rem solid transparent;
  overflow: hidden;
}

.coursePoster {
  height: 100%;
  display: block;
  object-fit: cover;
  transition: all var(--transition-time-min) ease-in;
}

.textWrapper {
  padding: 8rem;
  padding-top: 0;
}

.titleWrapper {
  height: 50rem;
  display: flex;
  align-items: center;
}

.courseName {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
  overflow: hidden;
  position: relative;
  font-weight: 700;
  margin-right: 6rem;

  &::before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    bottom: 0;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: var(--content-nav-hover);
    transition: width var(--transition-time-min) ease var(--transition-time-min);
  }

  &::after {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    bottom: -2rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: var(--content-nav-hover);
    transition: width var(--transition-time-min) ease;
  }

  &:hover {
    &::before {
      width: 30rem;
      transition: width var(--transition-time-min) ease;
    }

    &::after {
      width: 15rem;
      transition: width var(--transition-time-min) ease
        var(--transition-time-min);
    }

    .openBtn {
      transform: translate(120%, -50%);
      opacity: 1;
    }
  }
}

.openBtn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0;

  transition: opacity var(--transition-time-min) ease,
    transform var(--transition-time-min) ease;

  svg {
    transform: rotate(180deg);
    width: 12rem;
    height: 12rem;
  }

  svg * {
    fill: var(--content-nav-hover);
  }
}

.courseInfo {
  span {
    color: var(--content-datail-secondary);
    font-size: 12rem;
    font-weight: 500;
  }
}

.progressWrapper {
  display: flex;
  align-items: center;
  gap: 4rem;
  align-self: center;

  div span {
    font-size: 6rem;
  }
}

.details {
  display: flex;
  align-items: center;
  gap: 6rem;
  margin-bottom: 8rem;
  color: var(--content-datail-secondary);

  svg {
    width: 14rem;
    height: 14rem;
  }
}

.gradePriceContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 30rem;
}

.courseCardGradeWrapper {
  span {
    font-size: 14rem;
  }
}

button.cardBtn {
  width: 92rem;
  height: 28rem;
  background-color: var(--content-datail-secondary);
  padding: 2rem;

  // min-width: 64rem;
  // height: 0;
  // overflow: hidden;
  // padding-inline: 8rem;
  // border-radius: 0 0 5rem 5rem;
  // background: var(--content-nav-hover);
  // position: absolute;
  // top: 100%;
  // right: 16rem;
  // z-index: 1;

  // display: flex;
  // gap: 6rem;
  // align-items: center;
  // justify-content: center;
  // opacity: 0;

  // transition: height var(--transition-time-min) ease,
  //   opacity var(--transition-time-min) ease;
  color: var(--content-light-secondary);

  &:hover {
    background-color: var(--content-nav-hover);
  }

  span {
    font-size: 14rem;
    font-weight: 500;
    color: inherit;
  }

  svg {
    width: 14rem;
    height: 14rem;
  }
}
