.navWrapper {
  padding-right: 16rem;
}

.navItems {
  display: flex;
  gap: 16rem;
  padding-block: 4rem;
  width: fit-content;

  li {
    padding: 4rem 8rem;
    background-color: var(--bg-main);
    border-radius: 2rem;
    box-shadow: var(--drop-shadow-button-main);

    span {
      display: block;
      max-width: 320rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
