.wrapper {
  font-family: Roboto, sans-serif;
}

.pageWrapper {
  padding: 16rem 44rem 20rem;
  height: 100%;
  overflow: auto;
}

.mainInfoWrapper {
  display: flex;
  gap: 3%;
  margin-bottom: 24rem;

  border-radius: 5rem;
  background-color: var(--bg-rgba-default);
  box-shadow: var(--drop-shadow-button-main);
  //   backdrop-filter: blur(16rem);
  overflow: hidden;

  & > div {
    flex-basis: calc(50% - 32rem / 2);
  }
}

.textContentWrapper {
  padding: 24rem 0 24rem 32rem;

  .courseName {
    font-size: 24rem;
    font-weight: 700;
    margin-bottom: 16rem;
    position: relative;
    padding-inline-start: 8rem;

    &::before {
      content: "";
      display: block;
      height: 100%;
      width: 3rem;
      border-radius: 26.937px;
      background: var(--content-nav-hover);

      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .courseAbout {
    text-align: justify;
    line-height: 18rem;
    padding-inline-start: 2rem;
    margin-bottom: 20rem;
    position: relative;
  }

  .inputWrapper {
    position: relative;
  }

  .listWrapper {
    margin-bottom: 24rem;

    .listTitle {
      padding-inline-start: 12rem;  
      font-weight: 600;
      margin-bottom: 4rem;
    }

    .listItems {
      padding-inline-start: 16rem;

      .listItem {
        font-size: 14rem;
        line-height: 20rem;

        position: relative;

        &::before {
          content: "";
          width: 4rem;
          height: 4rem;
          border-radius: 1rem;
          background-color: var(--content-nav-hover);
          position: absolute;
          top: 50%;
          left: -14rem;
          transform: translateY(-50%);
        }
      }
    }
  }

  .programInfo {
    padding-inline-start: 12rem;
    text-align: justify;
    font-weight: 600;
    line-height: 18rem;
  }
}

.visualContentWrapper {
  position: relative;

  .posterWrapper {
    width: 75%;
    aspect-ratio: 16/10;
    min-height: 100%;
    margin-left: auto;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .itemsTools {
    display: flex;
    gap: 20rem;
    align-items: center;
    padding-inline-start: 12rem;
    margin-top: 16rem;

    .butBtn {
      width: 84rem;
      height: 28rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12rem;
      background-color: var(--content-nav-hover);
      border-radius: 5rem;

      span {
        color: var(--content-light-secondary);
        font-family: Inter, sans-serif;
        font-weight: 500;
      }

      svg {
        width: 14rem;
        height: 14rem;
        * {
          fill: var(--content-light-secondary);
        }
      }
    }
  }
}

div.courseItemsWrapper {
  padding: 24rem;
  padding-left: 32rem;
  flex-basis: 100%;
}

.courseItems {
  display: flex;
  gap: 8rem;
  flex-wrap: wrap;

  li {
    display: flex;
    gap: 8rem;
    align-items: center;
    flex-basis: calc(100% / 3 - 16rem / 3);

    .property {
      display: flex;
      align-items: center;
      flex-basis: 30%;
      gap: 12rem;
      flex-shrink: 0;

      color: var(--content-datail-secondary);
      font-family: Inter, sans-serif;
      font-weight: 600;

      svg {
        width: 18rem;
        height: 18rem;
        flex-shrink: 0;
      }
    }

    .value,
    .value::placeholder {
      font-family: Inter, sans-serif;
      font-weight: 500;
    }
  }
}

.textInfo {
  margin-bottom: 16rem;
}

.advantagesList {
  display: flex;
  gap: 32rem;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    align-self: stretch;

    &:not(:last-child) {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 18rem;
        right: -17rem;
        bottom: 34rem;
        width: 2rem;
        border-radius: 2rem;
        background-color: var(--content-datail-secondary);
      }
    }

    svg {
      width: 56rem;
      height: 56rem;
      margin-bottom: 12rem;
    }

    h4 {
      font-weight: 600;
      line-height: 18rem;
      text-align: center;
      margin-bottom: 4rem;
    }

    p {
      font-size: 14rem;
      line-height: 18rem;
      text-align: center;
    }
  }
}

.devices {
  padding: 60rem 35rem 60rem 0;
}

.categoryPriceInfoWrapper {
  overflow: visible;
}

.categoryWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.priceWrapper {
  padding: 24rem;
  padding-right: 32rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16rem;

  span {
    overflow: visible;
  }
}

.price {
  display: flex;
  align-items: center;
  font-size: 18rem;
  gap: 8rem;
  position: relative;

  span {
    font-size: inherit;
    color: var(--content-datail-secondary);
  }

  input {
    font-size: inherit;
    width: 6em;
    border: 1rem solid var(--content-datail-secondary);
    color: var(--content-main);
    border-radius: 5rem;
    padding: 4rem 8rem;
  }

  &:after {
    content: "$";
    position: absolute;
    top: 50%;
    right: 4rem;
    transform: translateY(-50%);
    font-size: 20rem;
  }
}

.navPanel {
  padding-block: 12rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border-radius: 5rem;
  background-color: var(--bg-rgba-default);
  box-shadow: var(--drop-shadow-button-main);
  backdrop-filter: blur(16rem);
  margin-bottom: 24rem;

  .allCoursesLink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    width: 180rem;
    height: 40rem;

    border-radius: 5rem;
    background: var(--content-datail-secondary);

    svg {
      width: 18rem;
      height: 18rem;
      * {
        fill: var(--content-light-secondary);
      }
    }

    span {
      color: var(--content-light-secondary);
      font-family: Inter, sans-serif;
      font-size: 16rem;
      font-weight: 500;
    }
  }
}

.buyAllCoursesBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  width: 180rem;
  height: 40rem;

  border-radius: 5rem;
  background: var(--bg-button-disabled);

  span {
    color: var(--content-datail-secondary);
    font-family: Inter, sans-serif;
    font-size: 16rem;
    font-weight: 500;
  }

  svg {
    width: 18rem;
    height: 18rem;
    * {
      fill: var(--content-datail-secondary);
    }
  }
}

.error {
  color: var(--content-failture);
  font-size: 14rem;
  font-weight: 400;
  position: absolute;
  top: 100%;
}
