.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 196rem;
}

.notification {
  font-weight: 400;
  font-size: 16rem;
  line-height: 19rem;
  color: #718da7;
  margin-right: 16rem;
}

.userWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;

  &:hover {
    .userAvatarWrapper::before,
    .userName::before {
      opacity: 1;
    }
  }
}

.userAvatarWrapper {
  width: 36rem;
  height: 36rem;
  border-radius: 50%;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    inset: -4rem;
    background-color: var(--bg-thumb);
    border-radius: 50%;
    opacity: 0;
    transition: opacity var(--transition-time-min) ease;
  }

  & img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  & span {
    width: 100%;
    height: 100%;
    background: #4171cd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 18rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
}

.userAvatar {
  width: 36rem;
  height: 36rem;
  border-radius: 50%;
  object-fit: cover;
}

.userName {
  font-size: 16rem;
  line-height: 19rem;
  font-weight: 500;
  color: var(--content-main);
  position: relative;
  display: block;
  overflow: initial;

  &:before {
    content: "";
    display: block;
    position: absolute;
    inset: -10rem -20rem;
    background-color: var(--bg-thumb);
    border-radius: 5rem;
    z-index: -1;
    opacity: 0;
    transition: opacity var(--transition-time-min) ease;
  }
}
