.container {
  flex-grow: 1;
  max-height: calc(100% - 60rem);
  padding-right: 16rem;
  display: flex;
}

.content {
  flex-grow: 1;
  height: 100%;
  overflow-x: visible;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 32rem;
  padding-right: 16rem;
  filter: drop-shadow(var(--drop-shadow-middle-intense));
}

.tools {
  width: 269rem;
  flex-shrink: 0;
  height: fit-content;
  height: calc(100% - 48rem);
  overflow: auto;
  padding: 12rem;
  border-radius: 5rem;
  background: var(--bg-rgba-block);
  box-shadow: var(--drop-shadow-middle-intense);
  backdrop-filter: blur(16rem);

  display: flex;
  flex-direction: column;

  transition: all var(--transition-time-min) ease;

  .chevronIcon {
    transition: rotate var(--transition-time-min) ease;
    transform-origin: center center;
  }

  &[data-narrowed="true"] {
    width: 48rem;
    padding: 12rem 5rem;

    .toolsTitleContainer {
      justify-content: flex-end;
      span {
        display: none;
      }
    }

    .chevronIcon {
      rotate: y 180deg;
    }
  }
}

.toolsContentContainer {
  flex-grow: 1;
}

.toolsTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12rem;
  margin-bottom: 12rem;
  border-bottom: 1rem solid var(--content-datail-secondary);

  span {
    font-size: 18rem;
    font-weight: 600;
  }

  button {
    flex-shrink: 0;
  }
}
