.navBarWrapper {
  display: flex;
  gap: 40rem;
  padding-left: 16rem;
  position: relative;
}

.navLink {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 20rem;
  font-weight: 700;
  line-height: 109.6%;
  text-transform: capitalize;
  color: var(--content-main);


  padding-block: 12rem;

  transition: color var(--transition-time-min) ease,
    border-color var(--transition-time-min) ease;
}

.navLink--active,
.navLink:hover {
  color: var(--content-nav-hover);
}

.activeLinkMarker {
  position: absolute;
  height: 2px;
  bottom: -2px;
  background-color: var(--content-nav-hover);
  transition: width var(--transition-time-min) ease,
    left var(--transition-time-max) ease;
}
