.wrapper {
  flex-grow: 1;
  max-height: calc(100% - 44rem);
  padding-right: 16rem;
  display: flex;
  gap: 16rem;
}

.blocksWrapper {
  flex-grow: 1;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 32rem;
}

.toolsWrapper {
  width: 25%;
  height: fit-content;
}

.blocksWrapper,
.toolsWrapper {
  padding: 16rem 20rem;
  border-radius: 5px;
  background: var(--bg-rgba-default);
  box-shadow: var(--drop-shadow-button-main-hover);
  backdrop-filter: blur(16rem);
  overflow: auto;
}

.addBlockBtns {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;

  li {
    width: calc(50% - 4rem);
    aspect-ratio: 1;
  }

  button {
    width: 100%;
    height: 100%;
    padding: 8rem 18rem;
    background-color: var(--bg-rgba-secondary);
    border-radius: 16rem;
    color: var(--content-datail-secondary);
    font-size: 14rem;
    text-transform: uppercase;
    box-shadow: var(--box-shadow-button);
    transition: all var(--transition-time-min) ease;

    &:hover {
      background-color: var(--bg-button-default);
      color: var(--content-main);
      box-shadow: var(--box-shadow-button-inset);
    }
  }
}

.block {
  display: flex;
  flex-direction: column;
  gap: 16rem;
  padding: 20rem;
  box-shadow: var(--drop-shadow-middle);
  border-radius: 5rem;
  background-color: var(--bg-rgba-detail);
  position: relative;

  & > * {
    flex-shrink: 0;
  }
}

.deleteBtn {
  height: 24px;
  width: auto;
  align-self: self-end;
  font-size: 18rem;
  display: flex;
  align-items: center;
  gap: 4rem;

  &:hover {
    path {
      transition: fill var(--transition-time-max) ease;
      fill: var(--content-nav-hover);
    }

    span {
      width: 10em;
      border-color: var(--border-color-main);
    }
  }

  svg {
    width: 24rem;
    height: 24rem;
  }

  span {
    width: 0;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    transition: width var(--transition-time-min) ease;
    color: var(--content-nav-hover);
    border: 1px solid transparent;
    height: 24rem;
  }
}

.scoreWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4rem;
}

.scoreInput {
  width: 12em;
  position: absolute;
  bottom: 20rem;
  left: 20rem;
}

.questionWrapper {
  display: flex;
  gap: 0.5em;
  align-items: center;
  padding-bottom: 16rem;
  border-bottom: 1rem solid var(--content-datail-secondary);
}

// option wrapper

.optionsWrapper {
  padding-inline: 12rem;
}

.optionsList {
  display: flex;
  flex-direction: column;
  gap: 12rem;
  margin-bottom: 12rem;

  li {
    display: flex;
    align-items: center;
  }

  .optionLetter {
    flex-shrink: 0;
    font-size: 14rem;
    color: var(--content-main);
    margin-right: 0.5em;
  }

  textarea {
    margin-right: 1em;
  }

  .optionCheckbox {
    width: 20rem;
    height: 20rem;
    margin-right: 1em;
    flex-shrink: 0;

    span {
      width: 100%;
      height: 100%;
    }
  }

  .deleteOptionBtn {
    flex-shrink: 0;
    width: 20rem;
    height: 20rem;

    &:hover path {
      fill: var(--content-nav-hover);
    }

    svg {
      width: 100%;
      height: 100%;
    }

    path {
      transition: fill var(--transition-time-min) ease;
    }
  }
}

.addNewOptionBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: var(--content-success);
  border-radius: 5rem;
  color: var(--content-contr-color);
  width: 140rem;
  height: 40rem;
  margin: 0 auto;
  opacity: 0.5;
  transition: opacity var(--transition-time-min) ease;

  &:hover {
    opacity: 1;
    box-shadow: var(--box-shadow-button-inset);
  }

  svg path {
    stroke-opacity: 1;

    stroke: var(--content-contr-color);
  }
}
