.LogoutButton {
  width: 100%;
  padding: 16rem 0;
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  background: #335BA9;
  border: none;
  cursor: pointer;

  & svg {
    width: 17rem;
    height: 17rem;
  }

  & span {
    font-size: 14rem;
    line-height: 17rem;
    color: #ffffff;
  }
}
