.toolsWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.addBlockBtns {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin-bottom: 12rem;

  li {
    width: 100%;
    height: 38rem;
  }

  button {
    width: 100%;
    height: 100%;
    padding: 8rem 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12rem;

    background-color: var(--bg-rgba-secondary);
    border-radius: 5rem;
    color: var(--content-datail-secondary);
    font-size: 16rem;
    text-transform: capitalize;
    box-shadow: var(--box-shadow-button);
    transition: all var(--transition-time-min) ease;

    &:hover {
      background-color: var(--bg-button-default);
      color: var(--content-main);
      box-shadow: var(--box-shadow-button-inset);
    }

    svg {
      width: 18rem;
      height: auto;
    }
  }
}

div[data-narrowed="true"] {
  .addBlockBtns button {
    padding: 0;

    span {
      display: none;
    }
  }

  .saveBtn {
  }
}

// content

.block {
  display: flex;
  flex-direction: column;
  gap: 16rem;
  padding: 20rem;
  padding-bottom: 36rem;
  border-radius: 5rem;
  background-color: var(--bg-rgba-block);
  backdrop-filter: blur(16rem);

  & > * {
    flex-shrink: 0;
  }

  & .textEditor {
    text-indent: 16rem;
    background-color: transparent;
    * {
      font-size: 14rem;
      line-height: 22rem;
    }
    ul * {
      text-indent: 0;
    }

    ul {
      padding-left: 6rem;
    }
  }
}

.titleInput {
  font-weight: 500;
  text-align: center;
  background-color: transparent;
}

.deleteBtn {
  width: 38rem;
  height: 38rem;
  font-size: 18rem;
  display: flex;
  align-items: center;
  gap: 0rem;
  color: var(--content-datail-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1rem solid var(--content-datail-secondary);
  border-radius: 5rem;

  transition: all var(--transition-time-min) ease;

  &:hover {
    width: 245rem;
    border-color: var(--content-nav-hover);
    color: var(--content-nav-hover);
    span {
      width: 10em;
    }
  }

  svg {
    width: 18rem;
    height: 18rem;
  }

  span {
    width: 0;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    transition: width var(--transition-time-min) ease;
    font-size: 16rem;
    text-overflow: clip;
  }
}

.uploaderWrapper {
  width: 100%;
  height: auto;
  aspect-ratio: 3.2;
  position: relative;
}

// PICTURES

.imagesWrapper {
  width: 100%;
  margin-bottom: 24rem;
  display: grid;
  gap: 18rem;
}

.grid-1 {
  grid-template-columns: 1fr;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-5 {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
}

.grid-6 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-5 .imageWrapper:last-child {
  grid-column: 1/-1;
  justify-self: center;
  width: calc((100% - 18rem) / 2);
}

.imageWrapper {
  border-radius: 2rem;
  overflow: hidden;
  position: relative;

  border-radius: 4rem;
  background: #fff;
  box-shadow: 0 0 3.70673rem 0 rgba(0, 0, 0, 0.12);

  & > div:first-child {
    width: 100%;
    aspect-ratio: 16/9;
  }

  & img {
    display: block;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .descWrapper {
    padding: 8rem 16rem;

    & input,
    & p {
      width: 100%;
      color: #000;
      font-family: Inter, sans-serif;
      font-size: 16rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    & input::placeholder {
      color: #d9d9d9;
    }
  }

  .deleteBtn {
    position: absolute;
    top: 12rem;
    right: 12rem;
    width: 32rem;
    height: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5rem;
    background-color: var(--content-nav-hover);
    opacity: 0.5;

    transition: opacity var(--transition-time-default) ease;

    &:hover {
      opacity: 1;
    }
  }

  .deleteIcon {
    width: 20rem;
    height: 20rem;

    path {
      fill: var(--content-contr-color);
    }
  }
}
// File section
.uploadedDocsWrapper {
  display: flex;
  gap: 40rem;
  flex-wrap: wrap;
}

//Link section
.linksWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10rem;
  margin-bottom: 16rem;
}

.link {
  display: flex;
  gap: 8rem;
  align-items: center;

  .linkIcon {
    width: 28rem;
    height: 28rem;
    flex-shrink: 0;
  }

  .deleteLinkBtn {
    flex-shrink: 0;

    &:hover path {
      fill: var(--content-nav-hover);
    }
    svg {
      width: 24rem;
      height: 24rem;
    }

    path {
      transition: fill var(--transition-time-min) ease;
    }
  }
}

.addNewLinkBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: var(--content-success);
  border-radius: 5rem;
  color: var(--content-contr-color);
  width: 132rem;
  height: 40rem;
  margin: 0 auto;
  opacity: 0.5;
  transition: opacity var(--transition-time-min) ease;

  &:hover {
    opacity: 1;
    box-shadow: var(--box-shadow-button-inset);
  }

  svg path {
    stroke-opacity: 1;

    stroke: var(--content-contr-color);
  }
}
