.wrapper {
  flex-grow: 1;
  max-height: calc(100% - 60rem);
  padding-right: 16rem;
  display: flex;
  gap: 16rem;
}

.blocksWrapper {
  flex-grow: 1;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 32rem;
}

.toolsWrapper {
  width: 25%;
  flex-shrink: 0;
  height: fit-content;
  max-height: 100%;
}

.blocksWrapper,
.toolsWrapper {
  padding: 16rem 20rem;
  border-radius: 5px;
  background: var(--bg-rgba-default);
  box-shadow: var(--drop-shadow-button-main-hover);
  backdrop-filter: blur(16rem);
  overflow: auto;
}

.addBlockBtns {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
  margin-bottom: 16rem;

  li {
    width: calc(50% - 4rem);
    aspect-ratio: 1;
  }

  button {
    width: 100%;
    height: 100%;
    padding: 8rem 18rem;
    background-color: var(--bg-rgba-secondary);
    border-radius: 16rem;
    color: var(--content-datail-secondary);
    font-size: 14rem;
    text-transform: uppercase;
    box-shadow: var(--box-shadow-button);
    transition: all var(--transition-time-min) ease;

    &:hover {
      background-color: var(--bg-button-default);
      color: var(--content-main);
      box-shadow: var(--box-shadow-button-inset);
    }
  }
}

.saveBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  width: 90%;
  height: 40rem;
  margin: 0 auto;
  background-color: transparent;
  color: var(--content-datail-secondary);
  font-size: 18rem;
  border-radius: 5rem;
  border: 1rem solid var(--content-datail-secondary);
  opacity: 0.7;
  transition: opacity var(--transition-time-min) ease,
    color var(--transition-time-min) ease,
    border-color var(--transition-time-min) ease,
    background-color var(--transition-time-min) ease;

  .saveIcon {
    width: 24rem;
    height: 24rem;
    path {
      stroke: var(--content-datail-secondary);
      fill: var(--content-datail-secondary);
      transition: all var(--transition-time-min) ease;
    }
  }

  &:hover {
    opacity: 1;
    box-shadow: var(--box-shadow-button-inset);
    color: var(--content-main);
    background: var(--content-contr-color);
    path {
      stroke: var(--content-main);
      fill: var(--content-main);
    }
  }
}

.block {
  display: flex;
  flex-direction: column;
  gap: 16rem;
  padding: 20rem;
  box-shadow: var(--drop-shadow-middle);
  border-radius: 5rem;
  background-color: var(--bg-rgba-detail);

  & > * {
    flex-shrink: 0;
  }
}

.titleInput {
  font-weight: 500;
  text-align: center;
}

.deleteBtn {
  width: auto;
  align-self: self-end;
  font-size: 18rem;
  display: flex;
  align-items: center;
  gap: 4rem;

  &:hover {
    path {
      transition: fill var(--transition-time-max) ease;
      fill: var(--content-nav-hover);
    }

    span {
      width: 10em;
      border-color: var(--border-color-main);
    }
  }

  svg {
    width: 24rem;
    height: 24rem;
  }

  span {
    width: 0;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    transition: width var(--transition-time-min) ease;
    color: var(--content-nav-hover);
    border: 1px solid transparent;
    height: 24rem;
  }
}

.uploaderWrapper {
  width: 100%;
  height: auto;
  aspect-ratio: 1.61;
  position: relative;
}

.imagesWrapper {
  width: 100%;
  margin: 0 auto 24rem;
  display: flex;
  justify-content: center;
  gap: 64rem;
}

.imageWrapper {
  width: 290rem;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;

  border-radius: 4rem;
  background: #fff;
  box-shadow: 0 0 3.70673rem 0 rgba(0, 0, 0, 0.12);

  & > div:first-child {
    width: 100%;
    aspect-ratio: 290/195;
  }

  & img {
    display: block;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .descWrapper {
    padding: 8rem 16rem;

    & input,
    & p {
      width: 100%;
      color: #000;
      font-family: Inter, sans-serif;
      font-size: 16rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    & input::placeholder {
      color: #d9d9d9;
    }
  }

  .deleteBtn {
    position: absolute;
    top: 12rem;
    right: 12rem;
    // transform: translateY(-50%);
    width: 32rem;
    height: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5rem;
    background-color: var(--content-nav-hover);
    opacity: 0.5;

    transition: opacity var(--transition-time-default) ease;

    &:hover {
      opacity: 1;
    }
  }

  .deleteIcon {
    width: 20rem;
    height: 20rem;

    path {
      fill: var(--content-contr-color);
    }
  }
}
// File section
.uploadedDocsWrapper {
  display: flex;
  gap: 40rem;
  flex-wrap: wrap;
}

//Link section
.linksWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10rem;
  margin-bottom: 16rem;
}

.link {
  display: flex;
  gap: 8rem;
  align-items: center;

  .linkIcon {
    width: 28rem;
    height: 28rem;
    flex-shrink: 0;
  }

  .deleteLinkBtn {
    flex-shrink: 0;

    &:hover path {
      fill: var(--content-nav-hover);
    }
    svg {
      width: 24rem;
      height: 24rem;
    }

    path {
      transition: fill var(--transition-time-min) ease;
    }
  }
}

.addNewLinkBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: var(--content-success);
  border-radius: 5rem;
  color: var(--content-contr-color);
  width: 132rem;
  height: 40rem;
  margin: 0 auto;
  opacity: 0.5;
  transition: opacity var(--transition-time-min) ease;

  &:hover {
    opacity: 1;
    box-shadow: var(--box-shadow-button-inset);
  }

  svg path {
    stroke-opacity: 1;

    stroke: var(--content-contr-color);
  }
}
