.searchForm {
  display: flex;
  align-items: center;
  gap: 12rem;
}

.inputWrapper {
  width: 590rem;
  padding: 6rem;
  border-radius: 10.5rem;
  background: rgba(252, 252, 252, 0.32);
  box-shadow: 0 0 9rem 0 rgba(0, 0, 0, 0.16) inset;
  position: relative;

  input {
    width: 100%;
    height: 36rem;
    border-radius: 8rem;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.16);
    padding: 6rem 12rem;
    color: var(--content-main);
    font-size: 15rem;
    font-weight: 500;

    &::placeholder {
      color: var(--content-datail-secondary);
    }
  }
}

.suggestionsContainer {
  position: absolute;
  top: 100%;
  left: 6rem;
  right: 6rem;
  background-color: var(--bg-thumb);
  box-shadow: var(--box-shadow-button);
  font-size: 15rem;
  max-height: 300rem;
  overflow-y: auto;
  z-index: 10;

  p,
  span {
    color: var(--content-datail-secondary);
  }

  p {
    padding: 6rem 12rem;
  }

  .suggestionsList {
    li {
      background-color: transparent;
      cursor: pointer;
      display: flex;
      gap: 16rem;
      align-items: center;
      justify-content: space-between;
      padding: 6rem 12rem;

      transition: background-color var(--transition-time-min) ease;

      &:hover {
        background-color: var(--bg-rgba-accent);
      }

      h5 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14rem;
      }

      span {
        flex-shrink: 0;
        font-size: 10rem;
      }
    }
  }
}

.searchBtn {
  width: 48rem;
  height: 48rem;
  border-radius: 11rem;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 9rem 0 rgba(0, 0, 0, 0.16) inset;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--content-light-secondary);

  &:hover > div {
    background-color: var(--content-main);
  }

  & > div {
    width: 36rem;
    height: 36rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8rem;
    background-color: var(--content-datail-secondary);
    box-shadow: 0 0 4.5rem 0 rgba(0, 0, 0, 0.16);
    transition: background-color var(--transition-time-min) ease;
  }

  svg {
    width: 21rem;
    height: 21rem;
  }
}
