.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  padding-inline: 32rem;
  width: 100%;
}

.label {
  color: var(--content-datail-secondary);
}

.createNewCategoryBtn {
  --color: var(--content-datail-secondary);
  width: 32rem;
  height: 32rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    --color: var(--content-main);
  }

  svg {
    width: 24rem;
    height: 24rem;

    path {
      stroke: var(--color);
      stroke-opacity: 1;
      transition: stroke var(--transition-time-min) ease;
    }
  }
}

.modalHeader {
  margin-bottom: 16rem;
  font-weight: 500;
  font-size: 24rem;
  color: var(--content-main);
}

.modalBody {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
  }

  button {
    --color: var(--content-datail-secondary);
    width: 160rem;
    height: 40rem;
    padding: 8rem 32rem;
    border-radius: 32rem;
    border: 1rem solid var(--color);
    box-shadow: none;
    transition: border-color, color var(--transition-time-min) ease;
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    &:hover {
      --color: var(--content-main);
      box-shadow: var(--box-shadow-button-inset);
    }
  }
}
