.overlay {
  position: absolute;
  z-index: 999;
  inset: 0;
  height: 100%;
  background-color: rgba($color: #fcfcfc, $alpha: 0.65);
  backdrop-filter: blur(5rem);
  overflow: hidden;
  transition: all var(--transition-time-min) ease;
}

.closing {
  background-color: rgba($color: #000, $alpha: 0);

  .left {
    animation: fadeToLeft 0.2s ease-out;
  }
  .right {
    animation: fadeToRight 0.2s ease-out;
  }
  .top {
    animation: fadeToTop 0.2s ease-out;
  }
  .bottom {
    animation: fadeToBottom 0.2s ease-out;
  }
}

.contentWrapper {
  position: absolute;
  background-color: rgba($color: #fcfcfc, $alpha: 0.75);
  backdrop-filter: blur(32rem);

  box-shadow: var(--drop-shadow-button-main-hover);
  display: flex;
  flex-direction: column;
}

.left {
  right: 100%;
  border-top-right-radius: 16rem;
  border-bottom-right-radius: 16rem;
  animation: fadeFromLeft 0.2s ease-in forwards;
}

.right {
  left: 100%;
  border-top-left-radius: 16rem;
  border-bottom-left-radius: 16rem;
  animation: fadeFromRight 0.2s ease-in forwards;
}

.top {
  bottom: 100%;
  border-bottom-right-radius: 16rem;
  border-bottom-left-radius: 16rem;
  animation: fadeFromTop 0.2s ease-in forwards;
}

.bottom {
  top: 100%;
  border-top-right-radius: 16rem;
  border-top-left-radius: 16rem;
  animation: fadeFromBottom 0.2s ease-in forwards;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24rem 24rem 22rem 24rem;
  position: relative;
  flex-shrink: 0;

  &::after {
    content: "";
    position: absolute;
    left: 24rem;
    right: 24rem;
    bottom: 0rem;
    height: 2rem;
    border-radius: 10rem;
    background-color: var(--content-datail-secondary);
  }

  & svg * {
    fill: var(--content-datail-secondary);
  }
}

.title {
  font-family: Roboto;
  font-size: 20rem;
  font-weight: 700;
}

.bodyWrapper {
  flex-grow: 1;
  overflow: auto;
}

@keyframes fadeFromLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes fadeFromRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes fadeFromBottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes fadeFromTop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes fadeToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fadeToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fadeToBottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeToTop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
