.container {
}

.subContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.left {
  display: flex;
  flex-direction: column;

  .value {
    text-align: center;
    margin-inline-start: 4rem;
  }
}

.label {
  font-size: 8rem;
  font-weight: 500;
  line-height: 1;
  margin-inline-end: 2rem;
  margin-block-end: 3rem;
}

.value {
  font-size: 14rem;
  font-weight: 500;
  line-height: 1;
}

.right {
  position: relative;
  margin-inline-end: 4rem;

  span {
    font-size: 14rem;
    line-height: 1;
    display: block;
    margin-block-start: 4rem;
  }

  &:before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 18rem;
    left: -3rem;
    top: 50%;
    transform: translateY(-20%) rotateZ(160deg);
    background-color: var(--content-datail-secondary);
    transform-origin: center center;
  }
}
