.container {
  display: flex;
  align-items: center;
  gap: 4rem;

  svg {
    width: 13.5rem;
    height: 23rem;
  }
}

.subContainer {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.left {
  display: flex;
  flex-direction: column;

  .value {
    text-align: right;
  }
}

.label {
  font-size: 8rem;
  font-weight: 500;
  line-height: 1;
  margin-inline-end: 2rem;
}

.value {
  font-size: 16rem;
  font-weight: 500;
  line-height: 1;
}

.right {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 17rem;
    left: -4rem;
    top: 50%;
    transform: translateY(-35%) rotateZ(160deg);
    background-color: var(--content-datail-secondary);
    transform-origin: center center;
  }
}
