.wrapper {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  color: var(--content-datail-secondary);

  svg {
    width: 13.5rem;
    height: auto;
  }

  .infoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > span {
      font-size: 8rem;
      font-weight: 400;
      margin-inline-start: 2rem;
      margin-block-end: -2rem;
    }

    & > div {
      margin-inline-start: 1rem;
      display: flex;
      align-items: center;
    }
  }

  .divider {
    font-size: 18rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  .maxGrade {
    display: inline-block;
    margin-bottom: 3rem;
  }
}
