.wrapper {
  position: relative;
  width: fit-content;
  height: fit-content;

  &:hover .filled {
    --background-color: var(--content-nav-hover);
    --pulse-color: 208, 0, 0;
  }

  .badge {
    position: absolute;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--bg-button-default);
    border: 1px solid var(--border-color-main);
    font-size: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .filled {
    --background-color: var(--content-nav-hover);
    --text-color: var(--content-contr-color);
    --pulse-color: 208, 0, 0;

    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
  }

  .b_r {
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
  }
  .b_l {
    bottom: -10%;
    left: -10%;
  }
  .t_r {
    top: -10%;
    right: -10%;
  }
  .t_l {
    top: -10%;
    left: -10%;
  }
}

.pulsing {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--pulse-color), 0.7);
  }
  70% {
    box-shadow: 0 0 0 4rem rgba(var(--pulse-color), 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(var(--pulse-color), 0);
  }
}
