.wrapperBtn {
  position: relative;
  width: 27rem;
  height: 28rem;
  margin-right: 20rem;

  & svg {
    width: 100%;
    height: 100%;

    * {
      fill: var(--content-main);
    }
  }
}

.badge {
  position: absolute;
  top: -4rem;
  right: -2.7rem;
  width: 13.33rem;
  height: 13.33rem;
  border-radius: 50%;
  background: var(--content-nav-hover);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Inter, sans-serif;
  font-size: 7rem;
  font-weight: 500;
  letter-spacing: 0em;
  text-overflow: ellipsis;
}

// .card {
//   background: rgba($color: #4171cd, $alpha: 0.15);
// }

// .card:not(:last-child) {
//   margin-bottom: 10rem;
// }

// .cardHead {
//   display: flex;
//   gap: 10rem;
//   align-items: center;
//   padding: 4rem 0;
// }

// .avatarWrapper {
//   width: 30rem;
//   height: 30rem;
//   padding: 2rem;
//   border: 1rem solid #4171cd;
//   border-radius: 50%;

//   & img {
//     width: 100%;
//     height: 100%;
//     border-radius: 50%;
//     object-fit: cover;
//   }

//   & span {
//     width: 100%;
//     height: 100%;
//     background: #4171cd;
//     border-radius: 50%;
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     color: #fff;
//     font-family: Inter, sans-serif;
//     font-size: 18rem;
//     font-style: normal;
//     font-weight: 500;
//     line-height: normal;
//   }
// }

// .cardHeadInfoWrapper {
//   display: flex;
//   flex: 1;
//   gap: 4rem;
//   justify-content: space-between;
// }

// .cardHeadName {
//   font-family: Inter, sans-serif;
//   font-size: 14rem;
//   font-weight: 400;
//   line-height: normal;
//   color: #000;
// }

// .cardHeadTime {
//   font-family: Inter, sans-serif;
//   font-weight: 400;
//   font-size: 14rem;
//   line-height: normal;
//   color: rgba(0, 0, 0, 0.7);
// }

// .cardBody {
//   padding-right: 100rem;
//   position: relative;
// }

// // .content {
// //   font-style: italic;
// // }

// .mediaInfo {
//   position: absolute;
//   right: 0;
//   top: 0;
//   max-width: 90rem;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   overflow: hidden;
//   color: #3965ba;
// }

// .readBtn {
//   border: 1px solid #4171cd;
//   background-color: rgba($color: #4171cd, $alpha: 0.15);
//   padding: 4rem 8rem;
//   border-radius: 10rem;
//   margin-top: 8rem;
//   transition: background-color, color 300ms ease-out;

//   &:hover {
//     background-color: rgba($color: #4171cd, $alpha: 1);
//     color: #fff;
//   }
// }
