.wrapperBtn {
  position: relative;
  width: 32rem;
  height: 32rem;
  margin-right: 20rem;
  padding: 4rem;
  border-radius: 50%;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color var(--transition-time-min) ease;

  &:hover {
    background-color: var(--bg-thumb);
  }

  & svg {
    width: 24rem;
    height: 24rem;
    color: var(--content-main);
  }
}

.badge {
  position: absolute;
  top: 5rem;
  right: 6rem;
  width: 9.2rem;
  height: 9.2rem;
  border-radius: 50%;
  background: var(--content-nav-hover);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Inter, sans-serif;
  font-size: 5.3rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0em;
  text-overflow: ellipsis;
}
