.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 16rem;
  align-items: center;
  background: #3a5cbd;
  width: 182rem;
  overflow-y: auto;
  flex-shrink: 0;
  color: #fff;
}

.logo {
  font-weight: 600;
  font-size: 32rem;
  line-height: 39rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
