.wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  background-color: var(--bg-accent-active);

  &:hover {
    .expanded {
      width: var(--sidebar-width-expanded);
    }
    div[id="expanded"] {
      transform: translateX(0);
    }
  }

  &.narrowedFixed {
    &:hover {
      .expanded {
        display: none;
      }
      div[id="expanded"] {
        display: none;
      }
    }
    .narrowed .fixBtn {
      border-color: var(--bg-default);
      svg * {
        fill: var(--bg-default);
        stroke: var(--bg-default);
      }
    }
  }

  &.expandedFixed {
    .expanded {
      width: var(--sidebar-width-expanded);
    }
    div[id="expanded"] {
      transform: translateX(0);
    }
    .expanded .fixBtn {
      border-color: var(--content-main);
    }
  }
}

.narrowed {
  width: var(--sidebar-width-narrowed);
  height: 100%;
  padding-top: 100rem;
  padding-bottom: 64rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .fixBtn {
    margin-bottom: 36rem;

    svg * {
      fill: var(--content-light);
      stroke: var(--content-light);
      transition: fill var(--transition-time-min) ease,
        stroke var(--transition-time-min) ease;
    }

    &:hover {
      border-color: var(--bg-default);
      svg * {
        fill: var(--bg-default);
        stroke: var(--bg-default);
      }
    }
  }

  .officialLabel {
    color: var(--content-contr-color);
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
    white-space: nowrap;
    margin-bottom: 52rem;
  }
}

.itemsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.bottomItemsWrapper {
  display: flex;
  flex-direction: column;
  gap: 28rem;
}

.expanded {
  width: 0;
  height: 100%;
  padding-block: 100rem;
  background-color: var(--bg-default);
  overflow: hidden;
  transition: width var(--transition-time-max) ease;

  .fixBtn {
    margin-left: auto;
    margin-right: 12rem;
    margin-bottom: 16rem;
    svg * {
      fill: var(--content-main);
      stroke: var(--content-main);
    }

    &:hover {
      border-color: var(--content-main);
    }
  }
}

.fixBtn {
  width: 26rem;
  height: 26rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4rem;
  transition: border-color var(--transition-time-min) ease;

  svg {
    width: 12rem;
    height: auto;
  }
}
