.wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  background: var(--bg-accent-active);

  &:hover {
    .expanded {
      width: 148rem;
    }
    div[id="expanded"] {
      transform: translateX(0);
    }
  }

  &.narrowedFixed {
    &:hover {
      .expanded {
        display: none;
      }
      div[id="expanded"] {
        display: none;
      }
    }
    .narrowed .fixBtn {
      border-color: var(--bg-default);
    }
  }

  &.expandedFixed {
    .expanded {
      width: 148rem;
    }
    div[id="expanded"] {
      transform: translateX(0);
    }
    .expanded .fixBtn {
      border-color: var(--content-main);
    }
  }
}

.narrowed {
  width: 40rem;
  height: 100%;
  padding-top: 100rem;
  // overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  .fixBtn {
    margin-bottom: 16rem;

    svg * {
      fill: var(--content-light);
      stroke: var(--content-light);
    }

    &:hover {
      border-color: var(--bg-default);
    }
  }

  .officialLabel {
    color: var(--content-contr-color);
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
    white-space: nowrap;
    margin-bottom: 40rem;
  }
}

.expanded {
  width: 0;
  height: 100%;
  padding-top: 100rem;
  background-color: var(--bg-default);
  overflow: hidden;
  transition: width var(--transition-time-max) ease;

  .fixBtn {
    svg * {
      fill: var(--content-main);
      stroke: var(--content-main);
    }

    &:hover {
      border-color: var(--content-main);
    }
  }
}

.fixBtn {
  width: 26rem;
  height: 26rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4rem;
  transition: border-color var(--transition-time-min) ease;

  svg {
    width: 12rem;
    height: auto;
  }
}
