.saveBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  width: 100%;
  height: 38rem;
  margin: 0 auto;
  background-color: var(--content-datail-secondary);
  color: var(--content-light-secondary);
  font-size: 16rem;
  border-radius: 5rem;
  opacity: 0.5;
  transition: opacity var(--transition-time-min) ease;

  .saveIcon {
    width: 24rem;
    height: 24rem;
  }

  &:hover {
    opacity: 1;
  }
}

div[data-narrowed="true"] .saveBtn span {
  display: none;
}
