.examWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bodyWrapper {
  display: flex;
  gap: 16rem;
  position: relative;
  flex-grow: 1;
  overflow-y: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40rem;
  margin-bottom: 16rem;
  height: 44rem;
  padding-inline: 14rem;
  flex-shrink: 0;

  background-color: var(--bg-rgba-default);
  box-shadow: var(--drop-shadow-button-main);
  border-radius: 5rem;
  color: var(--content-datail-secondary);

  .titleWrapper {
    display: flex;
    align-items: center;

    .title {
      font-size: 16rem;
      font-weight: 700;
      color: var(--content-main);
    }

    .divider {
      font-size: 12rem;
      color: var(--content-datail-secondary);
      padding-inline: 16rem;
      flex-shrink: 0;
    }

    .type {
      font-size: 16rem;
      color: var(--content-datail-secondary);
      text-transform: capitalize;
      overflow: visible;
    }
  }

  .tools {
    display: flex;
    align-items: center;
    gap: 40rem;
  }

  .stat {
    display: flex;
    align-items: center;
    gap: 8rem;

    svg {
      width: 14rem;
      height: 14rem;
    }

    span {
      font-size: 12rem;
      font-weight: 500;
    }
  }

  .sumbitAttemptBtn {
    width: 100rem;
    height: 28rem;
    border-radius: 5rem;
    color: var(--content-light-secondary);
    background-color: #bdc4d2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;

    transition: background-color var(--transition-time-min) ease;

    svg {
      width: 14rem;
      height: 14rem;
    }

    span {
      font-size: 14rem;
      font-weight: 500;
    }

    &:hover {
      background-color: var(--content-main);
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}

.contentWrapper {
  flex-grow: 1;
  height: fit-content;
  max-width: calc(100% - 16rem - 270rem);
}

.progressWrapper {
  width: 270rem;
  display: flex;
  position: sticky;
  top: 0;
}

.closedExamPanel {
  flex-grow: 1;
  height: 100%;
  overflow: auto;
  padding: 40rem 24rem;

  border-radius: 5rem;
  background-color: var(--bg-rgba-default);
  box-shadow: var(--drop-shadow-button-main);

  font-size: 20rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28rem;

  .title {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 14rem;
  }

  .topInfoWrapper,
  .bottomInfoWrapper {
    display: flex;
    flex-direction: column;
    gap: 14rem;

    .mainInfo,
    .additionInfo {
      text-align: center;
    }

    .mainInfo {
      font-size: 16rem;
      font-weight: 500;
    }

    .additionInfo {
      font-size: 14rem;
      font-weight: 700;
    }
  }

  .stats {
    height: 200rem;
  }

  .btnsWrapper {
    display: flex;
    justify-content: center;
    gap: 72rem;

    button {
      width: 360rem;
      height: 38rem;
      padding: 8rem 16rem;
      border-radius: 5rem;
      font-size: 18rem;
      box-shadow: var(--drop-shadow-button-main);
      transition: all var(--transition-time-min) ease;

      &:hover {
        box-shadow: var(--drop-shadow-button-main-hover);
      }
    }
  }

  .primaryBtn {
    background-color: rgba($color: #001c54, $alpha: 1);
    color: var(--content-contr-color);

    &:hover {
      background-color: rgba($color: #001c54, $alpha: 0.9);
    }
  }

  .secondaryBtn {
    color: var(--content-main);
    border: 1rem solid var(--content-datail-secondary);
    background-color: transparent;

    &:hover {
      color: var(--content-light-secondary);
      background-color: var(--content-datail-secondary);
    }
  }
}

.statsWrapper {
  display: flex;
  gap: 48rem;
}

.statWrapper {
  width: 232rem;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  color: var(--content-datail-secondary);

  svg {
    width: 64rem;
    height: 64rem;
    flex-shrink: 0;
  }

  & > p {
    font-size: 16rem;
    font-weight: 400;
    text-align: center;

    b {
      font-weight: 700;
    }
  }
}

.statValueWrapper {
  display: flex;
  align-items: center;
  color: var(--content-main);
  gap: 6rem;

  .labelContainer {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:has(:only-child) {
      justify-content: flex-end;
      padding-bottom: 6rem;

      .labelWrapper {
        font-size: 24rem;
      }
    }
  }

  .valueWrapper {
    font-size: 48rem;
  }
  .valueWithDivider::after {
    content: "/";
    font-size: inherit;
  }
  .valueOfWrapper {
    font-size: 24rem;
    font-weight: 600;
  }
  .labelWrapper {
    font-size: 20rem;
  }
}

// NAME FORM

.nameForm {
  display: flex;
  flex-direction: column;
  gap: 16rem;
  align-items: center;
  color: var(--content-main);

  h4 {
    font-size: 16rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 16rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -2rem;
      width: 365rem;
      height: 2rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--content-datail-secondary);
    }
  }

  .primaryText {
    font-size: 14rem;
    font-weight: 400;
    text-align: center;

    b {
      font-weight: 700;
    }
  }

  .fieldsWrapper {
    display: flex;
    align-items: center;
    gap: 28rem;
    width: 100%;
  }

  .fieldWrapper {
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 13rem;
    padding: 7rem;
    background: var(--bg-rgba-detail);
    box-shadow: var(--box-shadow-button-inset);
    border-radius: 5rem;

    & > div {
      flex-grow: 1;
    }

    & > span {
      color: var(--content-datail-secondary);
      font-size: 14rem;
      font-weight: 400;
      position: relative;
      overflow: visible;

      &::after {
        content: "";
        position: absolute;
        right: -5rem;
        top: 50%;
        transform: translateY(-50%);
        width: 1rem;
        height: 20rem;
        background-color: var(--content-datail-secondary);
      }
    }

    input {
      font-size: 14rem;
      font-weight: 400;
      color: var(--content-main);
      background: transparent;
      width: 100%;
    }
  }

  button {
    width: 148rem;
    height: 28rem;
    color: var(--content-datail-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    border-radius: 5rem;
    background-color: transparent;
    border: 1rem solid var(--content-datail-secondary);
    transition: all var(--transition-time-min) ease;

    &:hover {
      background-color: var(--content-datail-secondary);
      color: var(--content-light-secondary);
    }

    &:disabled {
      opacity: 0.5;
    }

    span {
      font-family: Roboto;
      font-size: 12rem;
      font-weight: 600;
    }

    svg {
      width: 14rem;
      height: 14rem;

      path {
        fill: currentColor;
      }
    }
  }

  .secondaryWrapper {
    font-size: 8px;
    font-weight: 400;
    text-align: center;
  }
}

.currentTime {
  font-variant-numeric: tabular-nums;
}

.leaveModalContainer {
  margin-bottom: -16rem;
  text-align: center;

  h4 {
    padding-bottom: 16rem;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 18rem;

    &:after {
      content: "";
      width: 275rem;
      height: 2rem;
      border-radius: 10rem;
      background-color: var(--content-datail-secondary);

      position: absolute;
      bottom: -2rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  p {
    font-size: 14rem;
    font-weight: 400;
  }

  .leaveModalBtnsContainer {
    margin-block: 16rem;
    display: flex;
    justify-content: center;
    gap: 28rem;
  }

  .leaveModalDesciption {
    font-size: 8rem;
  }
}
