.wrapper {
  display: flex;
  align-items: center;

  label {
    display: flex;
    align-items: center;
  }

  svg {
    width: 14rem;
    height: 14rem;

    path {
      fill: var(--content-main);
    }
  }
}

.serchIcon {
  margin-right: 8rem;
  cursor: pointer;
}

.inputWrapper {
  padding-bottom: 4rem;
  position: relative;
  margin-right: 4rem;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1rem;
    height: 1rem;
    background-color: var(--content-main);
    opacity: 0.5;
  }

  input {
    border: none;
    outline: none;
    background-color: transparent;

    font-family: Roboto, sans-serif;
    font-size: 12rem;
    font-style: normal;
    font-weight: 500;
    line-height: 14rem;
    color: var(--content-main);

    &::placeholder {
        color: var(--content-main);
    }
  }
}

.clearBtn {
    &:hover {
        path {
            fill: var(--content-nav-hover);
        }
    }
}
