.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40rem;
  margin-bottom: 16rem;
  height: 44rem;
  padding-inline: 14rem;
  flex-shrink: 0;

  background-color: var(--bg-rgba-default);
  box-shadow: var(--drop-shadow-button-main);
  border-radius: 5rem;
}

.titleWrapper {
  display: flex;
  align-items: center;

  .title {
    font-size: 16rem;
    font-weight: 700;
    color: var(--content-main);
  }

  .divider {
    font-size: 12rem;
    color: var(--content-datail-secondary);
    padding-inline: 16rem;
    flex-shrink: 0;
  }

  .type {
    font-size: 16rem;
    color: var(--content-datail-secondary);
    text-transform: capitalize;
    overflow: visible;
  }
}

.toolsWrapper {
  display: flex;
  align-items: center;
  gap: 40rem;

  .navBtnsWrapper {
    display: flex;
    align-items: center;
    gap: 40rem;
  }

  //lecture

  //test
  .questionsDoneWrapper {
    display: flex;
    align-items: center;
    gap: 8rem;

    svg {
      width: 14rem;
      height: 14rem;
    }

    span {
      font-size: 12rem;
      font-weight: 500;
    }
  }

  .attemptsBtn {
    width: 114rem;
    height: 28rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    border-radius: 5rem;
    border: 1rem solid var(--content-success);
    background-color: transparent;
    transition: background-color var(--transition-time-min) ease;

    &:hover {
      background-color: var(--content-success);
      span {
        color: var(--content-light-secondary);
      }

      svg {
        color: var(--content-light-secondary);
      }
    }

    span {
      font-size: 14rem;
      font-weight: 500;
      color: var(--content-success);
      transition: color var(--transition-time-min) ease;
    }

    svg {
      width: 14rem;
      height: 14rem;
      color: var(--content-success);
      transition: color var(--transition-time-min) ease;

      g {
        opacity: 1;
      }
    }
  }

  //test
}

// test attempts

.attemptsTitle {
  display: flex;
  justify-content: space-between;
  position: relative;

  span {
    font-size: 16rem;
    color: var(--content-main);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -8px;
    width: 100%;
    height: 1px;
    border-radius: 30px;
    background-color: var(--content-main);
  }
}

.attemptsList {
  display: flex;
  flex-direction: column;
  padding-inline: 8rem;
  max-height: 500rem;
  overflow: auto;

  li {
    display: flex;
    align-items: center;
    padding-block: 12rem;
    padding-inline-start: 4rem;

    &:not(:last-child) {
      border-bottom: 1rem solid var(--content-datail-secondary);
    }

    &.sumbitedAttempt {
      background-color: rgba($color: #39ba6d, $alpha: 0.3);
    }
  }

  .marker {
    font-size: 14rem;
    color: var(--content-main);
    margin-right: 2rem;
    width: 2em;
    overflow: visible;
  }

  .scoreData {
    font-size: 16rem;
    color: var(--content-main);
    margin-right: 24rem;
    width: 4em;
  }

  .showAttemptDetailBtn {
    width: 114rem;
    height: 28rem;
    border-radius: 5rem;
    border: 1rem solid var(--content-datail-secondary);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    margin-right: 12rem;
    transition: background-color var(--transition-time-min) ease;

    &:hover {
      background-color: var(--content-datail-secondary);

      span {
        color: var(--content-light-secondary);
      }

      svg * {
        fill: var(--content-light-secondary);
      }
    }

    span {
      font-size: 14rem;
      font-weight: 500;
      color: var(--content-datail-secondary);
      transition: color var(--transition-time-min) ease;
    }

    svg {
      width: 16rem;
      height: 16rem;

      svg * {
        fill: var(--content-datail-secondary);
        transition: fill var(--transition-time-min) ease;
      }
    }
  }

  .submitAttemptBtn {
    width: 114rem;
    height: 28rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    border-radius: 5rem;
    background-color: var(--content-success);
    transition: background-color var(--transition-time-min) ease;

    &:hover {
      background-color: var(--content-datail-secondary);
    }

    span {
      font-size: 14rem;
      font-weight: 500;
      color: var(--content-light-secondary);
    }

    svg {
      width: 14rem;
      height: 14rem;

      * {
        fill: var(--content-light-secondary);
      }
    }
  }
}

.testContentWrapper {
  padding: 16rem;
  height: 100%;
  overflow-y: auto;
}

.emptyDescription {
  color: var(--content-datail-secondary);
  font-size: 14rem;
  font-weight: 500;
}
