.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16rem;
  height: 44rem;
  padding-inline: 14rem;

  background-color: var(--bg-rgba-default);
  box-shadow: var(--drop-shadow-button-main);
  border-radius: 5rem;
}

.titleWrapper {
  display: flex;
  align-items: center;

  .title {
    font-size: 16rem;
    font-weight: 700;
    color: var(--content-main);
  }

  .divider {
    font-size: 12rem;
    color: var(--content-datail-secondary);
    padding-inline: 16rem;
  }

  .type {
    font-size: 16rem;
    color: var(--content-datail-secondary);
    text-transform: capitalize;
  }
}

.toolsWrapper {
  display: flex;
  align-items: center;
  gap: 40rem;

  .navBtnsWrapper {
    display: flex;
    align-items: center;
    gap: 40rem;
  }

  //lecture
  .note {
    display: flex;
    align-items: center;
    gap: 8rem;

    span {
      font-size: 14rem;
      font-weight: 500;
      color: var(--content-datail-secondary);
    }

    svg {
      width: 16rem;
      height: 16rem;
    }
  }
  //lecture

  //test
  .questionsDoneWrapper {
    display: flex;
    align-items: center;
    gap: 8rem;

    svg {
      width: 14rem;
      height: 14rem;
    }

    span {
      font-size: 12rem;
      font-weight: 500;
    }
  }

  .complieteBtn {
    width: 114rem;
    height: 28rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    border-radius: 5rem;
    background-color: var(--content-success);

    span {
      font-size: 14rem;
      font-weight: 500;
      color: var(--content-light-secondary);
    }

    svg {
      width: 14rem;
      height: 14rem;

      * {
        fill: var(--content-light-secondary);
      }
    }
  }
  //test
}
