.answersWrapper {
  padding-block: 16rem;
  display: flex;
  justify-content: center;
  gap: 16rem;

  & .imageCard {
    // flex: 1;
    width: calc(25% - 16rem / 4 * 3);
    border-radius: 5rem;
    overflow: hidden;
    box-shadow: var(--drop-shadow-button-main-hover);
    background-color: var(--bg-rgba-default);

    & > div {
      width: 100%;
    }

    & img {
      width: auto;
      max-width: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;
    }
  }

  .input {
    padding: 10rem;
  }
}

.previewImageWrapper {
  max-width: 95%;
  max-height: 100%;
  display: contents;
  img {
    width: auto;
    height: auto;
  }
}
