.pageWrappper {
  padding: 16rem 16rem 30rem;
  height: 100%;
  display: flex;
  gap: 16rem;
}

.leftWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16rem;

  .topWrapper {
    transition: height var(--transition-time-min) ease;
  }

  .bottomWrapper {
    flex-grow: 1;
    border-radius: 5rem;
    background-color: var(--bg-rgba-default);
    box-shadow: var(--drop-shadow-short);
    backdrop-filter: blur(16rem);
    border-radius: 5rem;
    padding: 20rem 28rem;
    display: flex;
    flex-direction: column;
    overflow: auto;


    .blockHeader {
      padding-bottom: 16rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .cerificatesTitle {
        font-weight: 600;
        line-height: 19rem;
        color: var(--content-main);
      }

      .btnsWrapper {
        display: flex;
        align-items: center;
        gap: 16rem;

        .arrowIcon {
          width: 11rem;
          height: calc(11rem * 5 / 7);
          transition: transform var(--transition-time-min) ease;

          * {
            fill: var(--content-main);
          }
        }
      }
    }

    .blockBody {
      flex-grow: 1;
      overflow: auto;
      overflow: auto;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: -1rem;
        left: 0;
        width: 100%;
        height: 2rem;
        border-radius: 10rem;
        background: var(--content-datail-secondary);
      }
    }
  }
}

.rightWrapper {
  width: 268rem;

  display: flex;
  flex-direction: column;
  gap: 16rem;

  .cardWrapper {
    flex: 1;
    background-color: var(--bg-rgba-default);
    box-shadow: var(--drop-shadow-short);
    border-radius: 5rem;
  }

  .progressTitle {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;

    .name {
      font-size: 14rem;
      font-weight: 500;
      line-height: 17rem;
      color: var(--content-datail-secondary);
    }

    .value {
      font-size: 24rem;
      font-weight: 500;
      line-height: 29rem;
      color: var(--content-main);

      span {
        font-size: 16rem;
      }
    }
  }
}
