.avatarWrapper {
  width: 80rem;
  height: 80rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  &:hover .editBtn {
    opacity: 1;
  }

  img {
    border: 2rem solid var(--border-color-main);
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
  }

  .editBtn {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--content-secondary);
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    opacity: 0;
    transition: opacity var(--transition-time-min) ease;

    svg {
      width: 10rem;
      height: 10rem;
    }

    span {
      color: var(--content-contr-color);
      font-family: Inter, sans-serif;
      font-size: 10rem;
      font-weight: 400;
    }

    input {
      display: none;
    }
  }
}
