.wrapper {
  display: flex;
  gap: 16rem;

  & > div {
    flex: 1;
    padding: 24rem 32rem 24rem 28rem;
    background-color: var(--bg-rgba-default);
    border-radius: 5rem;
    box-shadow: var(--drop-shadow-button-main);

    display: flex;
    align-items: center;

    svg {
      width: 48rem;
      height: 48rem;
      margin-right: 20rem;
    }

    .clock {
      width: 44.5rem;
      height: 44.5rem;
    }
  }

  .divider {
    width: 2rem;
    height: 54rem;
    background-color: var(--content-datail-secondary);
    border-radius: 2rem;
    margin-right: 22rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .value {
      font-family: Roboto;
      font-weight: 600;
      line-height: 18rem;
    }

    .name {
      font-family: Roboto;
      font-size: 14rem;
      line-height: 16rem;
    }
  }
}

.minimized {
  align-items: center;
  gap: 64rem;
  padding: 10rem 28rem;

  background-color: var(--bg-rgba-default);
  backdrop-filter: blur(16px);
  border-radius: 5rem;
  box-shadow: var(--drop-shadow-short);
  height: 100%;

  h3 {
    font-weight: 600;
    line-height: 19rem;
    color: var(--content-main);
    flex-grow: 1;
  }

  & > div {
    flex: 1;
    padding: 0;
    background-color: transparent;
    box-shadow: none;

    display: flex;
    align-items: center;

    svg {
      width: 14rem;
      height: 14rem;
      margin-right: 6rem;
    }

    .clock {
      width: 14rem;
      height: 14rem;
    }

    &:has(.clock) .info {
      gap: 0rem;

      span:first-child:after {
        content: '|';
        font-size: 14rem;
        margin-inline: 8rem;
        line-height: 12rem;
      }
    }
  }

  .divider {
    display: none;
  }

  .info {
    display: flex;
    flex-direction: row;
    gap: 4rem;

    .value,
    .name {
      color: var(--content-datail-secondary);
      font-size: 12rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  .arrowIcon {
    width: 11rem;
    height: calc(11rem * 5 / 7);

    * {
      fill: var(--content-main);
    }
  }
}
