.categoryItemContainer {
  position: relative;

  a {
    display: block;
  }
}

.categoryCard {
  display: flex;
  align-items: center;
  padding: 16rem 10rem;

  border-radius: 5rem;
  background-color: var(--bg-rgba-default);
  box-shadow: var(--drop-shadow-middle-intense);
  backdrop-filter: blur(28px);

  transition: background-color var(--transition-time-default) ease;

  &:hover {
    background-color: var(--bg-default);
  }
}

.categoryIcon {
  width: 52.5rem;
  height: auto;
}

.categoryInfo {
  flex-grow: 1;
  margin-left: 16rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -12rem;
    transform: translateY(-50%);
    width: 1rem;
    height: 62rem;
    border-radius: 4rem;
    background-color: var(--content-main);
  }
}

.categoryTitle {
  width: 100%;
  padding-right: 50rem;
  height: 32rem;
  display: flex;
  align-items: center;
  margin-bottom: 4rem;

  span {
    font-size: 16rem;
    font-weight: 700;
    white-space: initial;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
  }
}

.certificateInfo {
  font-size: 8rem;
  font-weight: 400;
}

.infoBtnWrapper {
  position: absolute;
  top: 12rem;
  right: 12rem;

  div button {
    width: 32rem;
    height: 32rem;

    svg {
        width: 16rem;
        height: 16rem;
    }
  }
}
