.inputChangeContainer {
  position: relative;
  display: flex;
  align-items: center;

  input[type="range"] {
    -webkit-appearance: none; /* прибрати дефолтний стиль */
    width: 100%;
    height: 5rem; /* висота треку */
    background: #b7b7b7; /* тумба */
    border-radius: 2rem;
    outline: none;
    cursor: pointer;
  }

  /* Chrome / Safari / Edge */
  input[type="range"]::-webkit-slider-runnable-track {
    height: 5rem;
    background: #b7b7b7; /* тумба */
    border-radius: 2rem;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10rem;
    height: 10rem;
    background: var(--content-datail-secondary);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -2.5rem; 
  }

  /* Firefox thumb*/
  input[type="range"]::-moz-range-track {
    height: 5rem;
    background: #b7b7b7; 
    border-radius: 2rem;
  }

  input[type="range"]::-moz-range-progress {
    height: 5rem;
    background: var(--content-datail-secondary); /* індикатор */
    border-radius: 2rem;
  }

  input[type="range"]::-moz-range-thumb {
    width: 10rem;
    height: 10rem;
    background: var(--content-datail-secondary); /* кружечок */
    border-radius: 50%;
    cursor: pointer;
  }

  /* IE */
  input[type="range"]::-ms-track {
    height: 5rem;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  input[type="range"]::-ms-fill-lower {
    background: var(--content-datail-secondary);
    border-radius: 2rem;
  }

  input[type="range"]::-ms-fill-upper {
    background: #b7b7b7;
    border-radius: 2rem;
  }

  input[type="range"]::-ms-thumb {
    width: 10rem;
    height: 10rem;
    background: var(--content-datail-secondary);
    border-radius: 50%;
    cursor: pointer;
  }

  .value {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 5rem;
    width: 0;
    background-color: var(--content-datail-secondary);
    border-radius: 2rem;
  }
}
