:root {
  /* --bg-body: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url("./images/body-bg-desktop.webp"); */
  --bg-body: url("./images/body-bg-desktop.webp");
  --bg-auth: url("./images/auth-bg-destop.webp");
  --bg-aboutIEU: url("./images/aboutIEU-bg-desktop.webp");
  --bg-main: #f4f6fc;
  --bg-accent: #4171cd;
  --bg-default: #fff;
  --bg-accent-active: #c30000;
  --bg-deafault-active: #718da7;
  --bg-deafult-block: #fafbff;
  --bg-default-block-hover: #dcdde3;
  --bg-accent-block: #f8f8f8;
  --bg-thumb: #f4f4f4;
  --bg-accent-thumb: #e2e2e2;
  --bg-rgba-primary: rgba(255, 255, 255, 0.9);
  --bg-rgba-secondary: rgba(255, 255, 255, 0.75);
  --bg-rgba-default: rgba(255, 255, 255, 0.65);
  --bg-rgba-detail: rgba(255, 255, 255, 0.2);
  --bg-rgba-accent: rgba(252, 252, 252, 0.9);
  --bg-rgba-block: rgba(252, 252, 252, 0.65);

  --bg-button-main: rgba(131, 131, 131, 0.2);
  --bg-rgba-primary: #fff;
  --bg-button-disabled: #d9d9d9;
  --bg-button-success: #39ba6d;
  --bg-button-failture: #ba3939;
  --bg-button-decorate-success: #00c808;
  --bg-button-edit: #fcc400;
  --bg-color-accent: #335ba9;
  --bg-button-active-link: #81acff;

  --border-color-main: #ececec;
  --border-color-secondary: rgba(215, 215, 215, 0.5);
  --border-color-decorate: #bdc4d2;

  --content-main: #001c54;
  --content-secondary: rgba(0, 0, 0, 0.5);
  --content-dark: #1e1e1e;
  --content-dark-secondary: rgba(0, 28, 84, 0.5);
  --content-light: #c7c6c6;
  --content-light-secondary: #fcfcfc;
  --content-accent: #4171cd;
  --content-detail: #5e5e5e;
  --content-success: #29ca6a;
  --content-failture: #ba3939;
  --content-contr-color: #fff;
  --content-datail-secondary: rgb(126, 140, 168);
  --content-cold: #ffd700;
  --content-nav-hover: #d00000;

  --lg-block: linear-gradient(156deg, #b8eaff 8.25%, #6fd4ff 100.26%);

  --drop-shadow-short: 0 0 10rem rgba(0, 0, 0, 0.1);
  --drop-shadow-middle: 0 0 10rem rgba(0, 0, 0, 0.2);
  --drop-shadow-middle-intense: 0 0 12rem rgba(0, 0, 0, 0.08);
  --drop-shadow-button-main: 0 0 4rem 0 rgba(0, 0, 0, 0.12);
  --drop-shadow-button-main-hover: 0 0 14rem 0 rgba(0, 0, 0, 0.12);
  --drop-shadow-message: 0 1px 0.5px rgba(11, 20, 26, 0.13);

  --box-shadow-button: 0 0 2rem 0 rgba(0, 0, 0, 0.16);
  --box-shadow-button-inset: 0 0 4rem 0 rgba(0, 0, 0, 0.16) inset;

  --transition-time-min: 0.2s;
  --transition-time-default: 0.3s;
  --transition-time-max: 0.5s;

  --sidebar-width-narrowed: 40rem;
  --sidebar-width-expanded: 148rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, Roboto, sans-serif;
  font-size: 16rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: var(--content-main);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

button:disabled {
  pointer-events: none;
}

input {
  border: none;
  outline: none;
}

span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 16rem;
  border-radius: 10rem;
  background-color: transparent;
  border: 6rem solid transparent;
  box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.12) inset;
}

*::-webkit-scrollbar-thumb {
  border: 7rem solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999rem;
  background-color: var(--bg-accent-thumb);
}

@supports (scrollbar-color: var(--bg-thumb) var(--bg-accent-thumb)) {
  * {
    scrollbar-color: rgba(126, 140, 168, 0.2) transparent;
    scrollbar-width: thin;
  }
}

.ant-image-preview-root img {
  width: auto;
}

/* rich text editor styles */
.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}
.ql-align-justify {
  text-align: justify;
}

.highlight-selection {
  color: #000;
  background-color: var(--content-cold);
  white-space: initial;
}
