.form {
  width: 400rem;
  display: flex;
  flex-direction: column;
  gap: 12rem;

  input {
    width: 100%;
    border-radius: 5rem;
    padding: 4rem 8rem;
    background-color: var(--bg-accent-block);

    color: var(--content-main);
    font-size: 16rem;
    border: 2rem solid transparent;
    transition: border-color var(--transition-time-min) ease;

    &::placeholder {
      color: var(--content-datail-secondary);
    }
    &:focus {
      border-color: var(--border-color-main);
    }
  }

  .scheduledTime {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4rem;
    padding-inline: 8rem;
    color: var(--content-datail-secondary);

    input {
      width: 3em;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Hide the spinners for Firefox */
      -moz-appearance: textfield;
    }
  }

  .lessonImage {
    height: 240rem;
  }

  .createLessonBtn {
    width: 120rem;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

    font-size: 16rem;
    color: var(--content-datail-secondary);

    border: 1rem solid var(--content-datail-secondary);
    border-radius: 32rem;
    transition: all var(--transition-time-min) ease;

    &:hover {
      border-color: var(--content-main);
      box-shadow: var(--box-shadow-button-inset);
      color: var(--content-main);
    }
  }
}

.inputWrapper {
  position: relative;
  padding-block: 4rem;
}

.error {
  position: absolute;
  top: 100%;
  right: 0;
  font-size: 12rem;
  color: var(--content-failture);
}
