.courseCard {
  width: calc(100% / 4 - 16rem * 3 / 4);
  flex-shrink: 0;
  margin-bottom: 16rem;
  position: relative;
}

.courseLink {
  display: block;
  height: 100%;
  padding: 8rem;
  border-radius: 5rem;
  background-color: var(--bg-rgba-default);
  box-shadow: var(--drop-shadow-button-main);
  backdrop-filter: blur(16rem);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color var(--transition-time-min) ease;

  &:hover {
    background-color: var(--bg-rgba-primary);
    box-shadow: var(--drop-shadow-button-main-hover);

    .createBtn {
      --color: var(--content-main);
    }
  }
}

.createBtn {
  --color: var(--content-datail-secondary);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16rem;
  font-size: 24rem;
  color: var(--color);
  transition: color var(--transition-time-min) ease;

  svg {
    width: 32rem;
    height: 32rem;
  }

  svg path {
    fill: var(--color);
    fill-opacity: 1;
    transition: fill var(--transition-time-min) ease;
  }
}
