.itemWrapper:not(:last-child) {
  margin-bottom: 16rem;
}

.categoryPanel {
  border-radius: 4rem;
  background: var(--bg-rgba-default);

  box-shadow: 0px 0px 4rem 0px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(16rem);
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.titleWrapper {
  display: flex;
  gap: 12rem;
  align-items: center;
  padding: 12rem;

  svg {
    width: 32rem;
    height: 32rem;
  }

  .nameWrapper {
    color: var(--content-main);
    h3 {
      font-size: 18rem;
      font-weight: 700;
    }

    p {
      font-size: 10rem;

      span {
        font-weight: 600;
      }
    }
  }
}

.tools {
  display: flex;
  align-items: center;
  gap: 32rem;
  padding-block: 16rem;
  padding-right: 24rem;

  span {
    color: var(--content-datail-secondary);
    font-size: 14rem;
    font-weight: 500;
  }

  button:not(.studentBtn) {
    border-radius: 5rem;
    background: var(--bg-rgba-default);
    box-shadow: var(--box-shadow-button-inset);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 24rem;
    height: 24rem;

    &:hover {
      svg * {
        fill: var(--content-nav-hover);
      }
    }

    span {
      border-radius: 4rem;
      background: var(--bg-button-default);
      box-shadow: var(--box-shadow-button);

      display: flex;
      justify-content: center;
      align-items: center;
      width: 18rem;
      height: 18rem;

      svg {
        width: 12rem;
        height: auto;

        * {
          fill: var(--content-main);
          transition: fill var(--transition-time-min) ease;
        }
      }
    }
  }

  .studentBtn {
    flex-shrink: 0;
    height: 28rem;
    border-radius: 5rem;
    color: var(--content-light-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    transition: background-color var(--transition-time-min) ease;

    span {
      font-size: 14rem;
      color: inherit;
      font-weight: 500;
    }
  }

  .buyAll {
    width: 90rem;
    background-color: var(--content-nav-hover);

    svg {
      width: 14rem;
      height: 14rem;
    }

    &:hover {
      background-color: var(--content-success);
    }

    &:disabled {
      background-color: var(--content-datail-secondary);
    }
  }

  .certificate {
    width: 110rem;
    background-color: var(--content-datail-secondary);

    &:hover {
      background-color: var(--content-main);
    }

    svg {
      width: 14rem;
    }
  }

  p {
    color: var(--content-main);
    font-size: 14rem;
    font-weight: 700;
  }

  .progressWrapper {
    display: flex;
    gap: 8rem;
    align-items: center;
  }

  .infoWrapper {
    display: flex;
    gap: 8rem;
    align-items: center;
  }

  .dropdownBtn {
    svg {
      transform: rotate(0);
      transition: transform var(--transition-time-min) ease;
      transform-origin: center center;
    }

    &.open svg {
      transform: rotate(-180deg);
    }
  }
}

.dropdown {
  overflow: hidden;
  transition: max-height var(--transition-time-min) ease;
}

.dropDownContent {
  // padding-top: 16rem;
  padding-inline: 12rem;
  padding-bottom: 8rem;
}
