.labelWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8rem;
  color: var(--color);
  transition: color var(--transition-time-default) ease;

  p {
    font-size: inherit;
    text-align: center;
    font-weight: 500;
  }

  p:last-child {
    font-size: 12rem;
    font-weight: 400;
  }
}

.uploadIcon {
  flex-shrink: 0;
  height: auto;
  margin-bottom: 10rem;
}

.size-l {
  width: min(60%, 130rem);
}
.size-m {
  width: min(40%, 86rem);
}
.size-s {
  width: min(20%, 38rem);
}

.uploadIcon path {
  fill-opacity: 0.5;
}
.uploadIcon path:last-child {
  stroke-opacity: 0.5;
}
