.wrapper {
  display: flex;
  align-items: center;
  gap: 16rem;
}

.date {
  font-size: 16rem;
  line-height: 19rem;
  color: var(--content-dark-secondary);
}

.currentTime {
  font-size: 16rem;
  line-height: 19rem;
  color: var(--content-dark-secondary);
}
