.wrapper {
  width: 400rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  font-size: 16rem;
  line-height: 19rem;
  color: #718da7;
}

.currentTime {
  font-size: 16rem;
  line-height: 19rem;
  color: #bbbbbb;
}
