.wrapper {
  height: 48rem;
  position: relative;

  &.disabled {
    .courseLink {
      opacity: 0.5;
      transition: opacity var(--transition-time-min) ease;

      &:hover {
        background-color: var(--bg-rgba-default);
      }
    }

    &:hover {
      .courseLink {
        opacity: 1;
      }
    }
  }
}

.courseLink {
  display: flex;
  gap: 40rem;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-left: 32rem;
  border-radius: 5rem;
  background-color: var(--bg-rgba-default);
  box-shadow: var(--drop-shadow-button-main);
  backdrop-filter: blur(16rem);

  transition: background-color var(--transition-time-min) ease;

  &:hover {
    background-color: var(--bg-rgba-primary);
    box-shadow: var(--drop-shadow-button-main-hover);
  }

  &:before {
    content: "";
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--content-main);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20rem;
  }
}

.title {
  font-weight: 700;

  position: relative;

  &::before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    bottom: 0;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: var(--content-nav-hover);
    transition: width var(--transition-time-min) ease var(--transition-time-min);
  }

  &::after {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    bottom: -2rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: var(--content-nav-hover);
    transition: width var(--transition-time-min) ease;
  }

  &:hover {
    &::before {
      width: 30rem;
      transition: width var(--transition-time-min) ease;
    }

    &::after {
      width: 15rem;
      transition: width var(--transition-time-min) ease
        var(--transition-time-min);
    }

    .openBtn {
      transform: translate(120%, -50%);
      opacity: 1;
    }
  }
}

.openBtn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0;

  transition: opacity var(--transition-time-min) ease,
    transform var(--transition-time-min) ease;

  svg {
    transform: rotate(180deg);
    width: 12rem;
    height: 12rem;
  }

  svg * {
    fill: var(--content-nav-hover);
  }
}

.progressWrapper {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.courseInfo {
  display: flex;
  gap: 32rem;
  align-items: center;
  color: var(--content-datail-secondary);

  span {
    font-size: 12rem;
  }
}

.details {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6rem;

  span {
    white-space: nowrap;
  }

  svg {
    width: 14rem;
    height: 14rem;
  }
}

.gradePriceContainer {
  width: 124rem;
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.cardBtn {
  width: 34rem;
  height: 48rem;
  border-radius: 0 5rem 5rem 0;
  padding: 0;
  gap: 0;
  background-color: var(--content-datail-secondary);

  span {
    width: 0;
    transition: all var(--transition-time-min) ease;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  transition: width var(--transition-time-min) ease;

  svg {
    width: 14rem;
    height: 14rem;
    flex-shrink: 0;

    * {
      fill: var(--content-light-secondary);
    }
  }

  &:hover {
    background-color: var(--content-nav-hover);
    width: 94rem;

    span {
      margin-right: 10rem;
    }
  }
}
