.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36rem;
  position: relative;

  h4 {
    padding: 20rem 32rem 16rem;
    text-align: center;
    font-weight: 600;
    line-height: 19rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 1rem;
      right: 24rem;
      left: 24rem;

      height: 2rem;
      border-radius: 2rem;
      background-color: var(--content-datail-secondary);
    }
  }

  .progressOuter {
    width: 204rem;
    height: 204rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12rem;
    position: relative;

    border-radius: 50%;
    box-shadow: var(--box-shadow-button-inset);

    .progress {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      box-shadow: var(--drop-shadow-button-main);
    }

    .progressInner {
      position: absolute;
      width: 140rem;
      height: 140rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--bg-default);
      border-radius: 50%;
      box-shadow: var(--drop-shadow-button-main);
    }
  }

  .infoBtnWrapper {
    position: absolute;
    right: 16rem;
    bottom: 16rem;
  }
}
