.wrapper {
  height: 28rem;
  display: flex;
  padding: 3rem;

  border-radius: 5rem;
  box-shadow: var(--box-shadow-button-inset);
}

.openSaveNewTemplateModal,
.openTemplatesBtn {
  height: 100%;
  width: 32px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  box-shadow: var(--box-shadow-button);
  color: var(--content-datail-secondary);
  transition: color var(--transition-time-min) ease;

  svg {
    width: 20rem;
    height: 20rem;
  }

  &:hover {
    color: var(--content-main);
  }
}

.openSaveNewTemplateModal {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.openTemplatesBtn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

// Save Template Form
.saveTemplateForm {
  padding: 16rem 20rem;
  margin: 44rem 0 12rem;
  box-shadow: var(--drop-shadow-middle);
  border-radius: 5rem;
  background-color: var(--bg-rgba-default);

  p {
    font-size: 18rem;
    font-weight: 500;
    color: var(--content-main);
    margin-bottom: 12rem;

    span {
      color: var(--content-secondary);
    }
  }

  textarea {
    margin-bottom: 24rem;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    min-width: 200px;
    height: 40rem;
    margin: 0 auto;
    background-color: transparent;
    color: var(--content-datail-secondary);
    font-size: 18rem;
    border-radius: 5rem;
    border: 1rem solid var(--content-datail-secondary);
    opacity: 0.7;
    transition: opacity var(--transition-time-min) ease,
      color var(--transition-time-min) ease,
      border-color var(--transition-time-min) ease,
      background-color var(--transition-time-min) ease;

    &:hover {
      background-color: var(--bg-button-default);
      color: var(--content-main);
      box-shadow: var(--box-shadow-button-inset);
    }
  }
}

.templatesTitle {
  font-size: 22rem;
  color: var(--content-main);
}

.templatesList {
  display: flex;
  flex-direction: column;
  gap: 8rem;

  li {
    padding: 10rem;
    background: var(--bg-rgba-default);
    backdrop-filter: blur(16rem);

    &:hover {
      box-shadow: var(--drop-shadow-button-main-hover);
    }
  }

  .templateHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16rem;
    margin-bottom: 12rem;

    .showBtn {
      min-width: 200rem;
      display: flex;
      align-items: center;
      gap: 4rem;
      padding-bottom: 2rem;
      position: relative;
      color: var(--content-main);
      font-size: 18px;
      opacity: 0.7;
      transition: opacity var(--transition-time-min) ease;

      &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1rem;
        background-color: var(--content-main);
        border-radius: 30rem;
      }

      span:not([role="img"]) {
        font-size: 18rem;
      }

      &:hover {
        opacity: 1;
      }
    }

    .deleteBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4rem;

      &:hover {
        box-shadow: var(--box-shadow-button);
      }

      path {
        fill: var(--content-nav-hover);
      }

      svg {
        width: 16rem;
        height: 16rem;
      }
    }
  }
}

.btnsWrapper, .modalBtnsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.useBtn {
  flex-grow: 1;
  color: var(--content-datail-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 4rem 8rem;
  transition: color var(--transition-time-min) ease;

  &:hover {
    color: var(--content-main);
  }
}

.spinnerWrapper {
  position: absolute;
  inset: 0;
  background-color: rgba($color: #000000, $alpha: 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}
